<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Dash Board</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>document.write('<base href="' + document.location + '" />');</script>
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="../css/CloneCSS/serverStyle.css"/>
        <link rel="stylesheet" href="../css/bootstrap-select.min.css">
        <link rel="stylesheet" href="../css/customcss/ng-tags-input.min.css" />
        <link rel="shortcut icon" href="img/logo.png">
        <script src="../socket.io/socket.io.js"></script>
        <script src="../js/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <meta name="author" content="CES team" /> 
    </head>
    <body ng-cloak="" onload="InitDashBoard()">
        <!-- .page-navbar -->      
        <div class="container-fluid" style="visibility: visible;height: 100%">		
            <!-- Sidebar Menu -->            
            <!-- // Sidebar Menu END -->

            <!-- Content -->
            <div id="content">

                <div class="navbar hidden-print main navbar-default" role="navigation">
                    <div class="user-action user-action-btn-navbar pull-right">
                        <button class="btn btn-sm btn-navbar btn-inverse btn-stroke hidden-lg hidden-md"><i class="fa fa-bars fa-2x"></i></button>
                    </div>
                    <a class="logo">
                        <img id="logo" src="http://projecttracking.com/www/img/ceslogo.png" alt="Code a Responsive Website" style="width: 150px">                      
                    </a>
                    <ul class="main pull-left hidden-xs ">
                        <li class="dropdown notif notifications hidden-xs">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <span class="badge badge-danger">5</span></a>
                            <ul class="dropdown-menu chat media-list">
                                <!--
                                <li class="media">
                                    <a class="pull-left" href="#"><img class="media-object thumb" src="../assets/images/people/100/15.jpg" alt="50x50" width="50"></a>
                                    <div class="media-body">
                                        <span class="label label-default pull-right">5 min</span>
                                        <h5 class="media-heading hidden-xs">{{userName}}</h5>
                                        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="pull-left" href="#"><img class="media-object thumb" src="../assets/images/people/100/16.jpg" alt="50x50" width="50"></a>
                                    <div class="media-body">
                                        <span class="label label-default pull-right">2 days</span>
                                        <h5 class="media-heading">Jane B.</h5>
                                        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="pull-left" href="#"><img class="media-object thumb" src="../assets/images/people/100/17.jpg" alt="50x50" width="50"></a>
                                    <div class="media-body">
                                        <span class="label label-default pull-right">3 days</span>
                                        <h5 class="media-heading">Andrew M.</h5>
                                        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-primary"><i class="fa fa-list"></i> <span>View all messages</span></a>
                                </li>
                                -->
                            </ul>
                        </li>
                        <li class="notifications">
                            <a href=""><i class="fa fa-clock-o"></i> <span class="badge badge-warning">7</span></a>
                        </li>
                        <li class="notifications">
                            <a href=""><i class="fa fa-user"></i> <span class="badge badge-info">2</span></a>
                        </li>
                    </ul>
                    <ul class="main pull-right" ng-controller="userManage">                        
                        <li class="dropdown username hidden-xs ">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"><img src="{{user.avatarURL}}" class="img-circle avatar" alt="{{user.Fullname}}" style="width: 32px;height: 32px"><span class="caret"></span></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="#/detailUser" class="glyphicons user"><i></i> Account</a></li>
                                <li><a href="" class="glyphicons envelope"><i></i>Messages</a></li>
                                <li><a href="/partials/dashboard.html#/" class="glyphicons settings"><i></i>Projects</a></li>
                                <li><a href="/" class="glyphicons lock no-ajaxify"><i></i>Logout</a></li>
                            </ul>
                        </li>
                    </ul> 
                </div>
                <!-- // END navbar -->
                <div ng-view="" id="ng-view"></div>
                <!-- CREATE TASK MODAL -->
                <!-- Modal -->
                <div class="modal fade" id="modal-task">

                    <div class="modal-dialog">
                        <div class="modal-content bg-white">
                            <!-- Modal body -->
                            <div class="modal-body padding-none ">

                                <form class="form-horizontal " role="form">

                                    <div class="innerLR innerT">
                                        <div class="form-group">
                                            <label for="to" class="col-sm-2 control-label">Task:</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="to">
                                                    <div class="input-group-btn">
                                                        <button type="button" data-toggle="collapse" data-target="#cc" class="btn btn-default">Schedule <span class="caret"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="cc" class="collapse">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Starts:</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group date datepicker2">
                                                        <input class="form-control" type="text" value="14 February 2013">
                                                        <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Ends:</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group date datepicker2">
                                                        <input class="form-control" type="text" value="14 February 2013">
                                                        <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Milestone:</label>
                                            <div class="col-sm-6">
                                                <select class="selectpicker" style="display: none;">
                                                    <option>HTML Validation</option>
                                                    <option>User Interface Design</option>
                                                    <option>Update Bootstrap 3.2</option>
                                                </select><div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="HTML Validation"><span class="filter-option pull-left">HTML Validation</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">HTML Validation</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="1"><a tabindex="0" class="" style=""><span class="text">User Interface Design</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="0" class="" style=""><span class="text">Update Bootstrap 3.2</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li></ul></div></div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Project:</label>
                                            <div class="col-sm-6">
                                                <select class="selectpicker" style="display: none;">
                                                    <option>Project #1</option>
                                                    <option>Project #2</option>
                                                    <option>Project #3</option>
                                                </select><div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Project #1"><span class="filter-option pull-left">Project #1</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">Project #1</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="1"><a tabindex="0" class="" style=""><span class="text">Project #2</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="0" class="" style=""><span class="text">Project #3</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li></ul></div></div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>


                                    <div class="innerAll bg-white">
                                        <textarea class="notebook border-none form-control padding-none" rows="4" placeholder="Task description..."></textarea>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>

                            </div>
                            <!-- // Modal body END -->

                            <div class="innerLR innerB text-right">
                                <a href="" class="btn btn-default"><i class="fa fa-times"></i> Cancel</a>
                                <a href="" class="btn btn-primary"><i class="fa  fa-check"></i> Submit</a>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- // Modal END -->




                <!-- // END MODAL -->


            </div>
            <!-- // Content END -->

            <div class="clearfix"></div>
            <!-- // Sidebar menu & content wrapper END -->          

            <!-- // Footer END -->

        </div>
        <!-- Libraries -->
        <script src="../js/underscore.min.js"></script>
        <script src="../js/angular.min.js"></script>       
        <script src="../js/angular-drag-and-drop-lists.js"></script>
        <script src="../js/angular-route.min.js"></script>
        <script src="../js/angular-animate.min.js"></script>
        <script src="../js/angular-validator.js"></script>
        <script src="../js/angular-resource.js"></script>
        <script src="../js/highstock.src.js"></script>
        <script src="../js/highcharts-ng.js"></script>
        <script src="../js/angucomplete-alt.min.js"></script>
        <!-- AngularJS custom codes 
        -->       
        <script src="../js/ui-bootstrap-tpls-0.12.0.js"></script>  
        <script src="../js/projects/projectapp.js"></script>
        <script src="../js/projects/controller.js"></script>
        <script src="../js/projects/directive.js"></script>
        <script src="../js/projects/projectData.js"></script>
        <script src="../js/projects/services.js"></script>
        <script src="../js/projects/filter.js"></script>
        <!-- Bootstrap -->
        <script type="text/javascript" src="../js/bootstrap-datetimepicker.min.js"></script> 
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/bootstrap-select.min.js"></script>
        <script src="../js/ng-tags-input.min.js"></script>
    </body>
</html>
