<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h3 class="modal-title text-center">Add a column</h3>
</div>
<div class="modal-body">
    <form name="scrumboard_form" class="form-horizontal" role="form" novalidate>
        <!-- COLUMN NAME -->
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right ng-binding">  NAME</label>
            <div class="col-sm-9">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control " name="columnName" ng-model="columnInsert.name" required="" placeholder="Column Name" ng-minlength="1" ng-maxlength="20" blacklist="checkScrumColumn" autofocus>
                     <div class="error ng-scope ng-hide" ng-show="scrumboard_form.columnName.$invalid && scrumboard_form.columnName.$dirty">
                        <span ng-show="scrumboard_form.columnName.$error.required" class="">
                            ScrumBoard Column require at least 1 characters
                        </span>
                        <span ng-show="scrumboard_form.columnName.$error.minlength" class="ng-hide">
                            Please enter at least 1 characters
                        </span>
                        <span ng-show="scrumboard_form.columnName.$error.maxlength" class="ng-hide">
                            Please enter no longer than 20 characters
                        </span>
                        <span ng-show="scrumboard_form.columnName.$error.blacklist">
                            the Column with name: ({{columnInsert.name}}) is already in the project
                        </span>
                    </div>
                </span>
            </div>
        </div>
        <!-- DESCRIPTION-->
        <div class="form-group">
            <div class="col-sm-12 p0 m0">
                <label class="col-sm-12 control-label ng-binding text-left">  DESCRIPTION</label>
                <div class="col-sm-12">
                    <span class="block input-icon input-icon-right">
                        <textarea class="form-control " name="description" ng-model="columnInsert.Description" placeholder="Description" ng-maxlength="1500"></textarea>
                        <div class="error ng-scope ng-hide" ng-show="task_form.description.$invalid && task_form.description.$dirty">
                            <span ng-show="scrumboard_form.description.$error.maxlength" class="errorMessage ng-hide">
                                Description length less than 500 characters
                            </span>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <!-- STATUS IN THIS COLUMN-->
        <div class="form-group">
            <label class="col-sm-12 control-label ng-binding text-left">STATUS IN THIS COLUMN</label>
            <div class="col-sm-12">
                <section id="columnStatus" >
                            <select selectpicker toggle-dropdown ng-model="columnInsert.status">
                                <option>IN PROGRESS</option>
                                <option>TO TEST</option>                                
                            </select>
                        </section>
            </div>
        </div>    
    </form>
</div>

<div class="space-4"></div>
<div class="modal-footer">
    <div class="row">
        <div class="col-sm-12">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="saveScrumColumn(columnInsert);"
                                ng-disabled="scrumboard_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>Add
                        </button>
                    </div>
                </div>          
    </div>
</div>
