<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h3 class="modal-title text-center">Add a column</h3>
</div>
<div class="modal-body">
    <form name="scrumboard_form" class="form-horizontal" role="form" novalidate>

    </form>
</div>
<div class="space-4"></div>
<div class="modal-footer">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-right">
                <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                <button ng-click="completeSprint(columnInsert);"
                        ng-disabled="scrumboard_form.$invalid || enableUpdate"
                        class="btn btn-sm btn-primary"
                        type="submit">
                    <i class="ace-icon fa fa-check"></i>Add
                </button>
            </div>
        </div>          
    </div>
</div>