<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h3 class="modal-title text-center">Warning</h3>

</div>
<div class="modal-body" style="padding-bottom: 200px">
    <div class="col-sm-12">
        <label>
            {{message}}
        </label>
    </div>
    
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-right">
                <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                <button ng-click="responseYesMessage(request);"
                        class="btn btn-sm btn-primary"
                        type="submit">
                    <i class="ace-icon fa fa-check"></i>{{buttonText}}
                </button>
            </div>
        </div>          
    </div>
</div>
