<!-- new left side bar -->
<link rel="stylesheet" href="../css/customcss/scrumBoard.css"/>
<div class="container p0 r0" id="container_ScrumBoard">
    <!-- Show Loading Page -->
    <div class="row" ng-hide="sprintChoose.userstories.length > -1">
        <div class="col-sm-12 p0">
            <div id="load" class="light-loading " style="/* display: none; */">
                <div class="pace pace-active">
                    <div class="pace-activity">
                        <i class="fa fa-refresh fa-5x fa-spin"></i>&nbsp;LOADING... 
                    </div>                                     
                </div>                                     
            </div>
        </div>
    </div>
    <!-- Scrum Board :D:D:D-->
    <div class="row m0" id="menuOnTop">
        <!-- Project Name -->
        <div class="board-header u-clearfix js-board-header col-sm-3 col-sd-3">            
            <div class="btn-group" style="position: absolute;">                    
                <button type="button" class="" data-toggle="dropdown" style="position: absolute;">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu projectmenu" role="menu">
                    <li class="project" ng-repeat="project in filteredProjects track by $index" ng-if="(parseInt(project.isArchive) !== 1)">
                        <a href="#/scrumboardcolumn/{{project.projectId}}">
                            <div class="contentProjectName">
                                <span class="projectnamelist">
                                    {{project.name}}
                                </span>    
                            </div>

                        </a>
                    </li>
                </ul>
                <a class="board-header-btn board-header-btn-name js-rename-board" href="#/detail/{{project.projectId}}/{{project.userId}}">
                    <span class="board-header-btn-text project">
                        {{projectInformation.name}}
                    </span>
                </a>
            </div>
        </div>
        <!-- Go to Sprint Page-->
        <div class="board-header-btns mod-left col-sm-4 col-sd-4">
            <a href="#/sprint/{{project.projectId}}" class="board-header-btn js-star-board board-header-btn-enabled" title="Click to manage your sprints.">
                <i class="fa fa-refresh"></i>
            </a>

            <a href="#/backlog/{{project.projectId}}" class="board-header-btn perms-btn js-change-vis" id="permission-level" title="">
                <img title="Plus - Board Report" src="chrome-extension://gjjpophepkbhejnglcmkdnncmaanojkf/images/report-sm.png" class="agile_img_boardheader agile_plus_report_link" style="vertical-align: inherit">
                <span class="board-header-btn-text">&nbsp;&nbsp; Product Backlog</span></a>

        </div>
        <!-- Filtering -->
        <div class="col-sm-3 col-sd-3">     
            <label for="filter-by" class="iconSearch" style="position: absolute; top: 12px;left: 20px"><i class="fa fa-search"></i></label>
            <tags-input ng-model="tags"
                        class="p0 m0 tagsinput"
                        placeholder="Filtering task..."
                        replace-spaces-with-dashes="false"
                        style="width: 100% !important;"></tags-input>
        </div>    
        <!-- Log Spent TIme-->
        <div class="log_spent_time col-sm-2 col-sd-2">
            <div class="agile_box agile_total_box agile_remaining_box" title="22% complete" style="">R:{{timebox.remainingTime}}</div>
            <div class="agile_box agile_total_box agile_estimation_box" title="22% complete" style="">E: {{timebox.estimateTime}}</div>
            <div class="agile_box agile_total_box agile_spent_box" title="22% complete" style="">S: {{timebox.spentTime}}</div>    
        </div>    
    </div>
    <!-- main Furture-->
    <div class="row m0" id="ScrumBoardHold" ng-show="sprintChoose.userstories.length > -1">       
        <div id="board"  class="ng-pristine ng-untouched ng-valid ng-scope">
            <div class="tableScrumBoard" ng-style="tableScrum">
                <div class="col-scrumboard" ng-style="ScrumBoardColumnStyle">  
                    <div class="table col-sm-12 col-sd-12">
                        <table class="table-responsive typesDemo" id="tableForScrumBoard">
                            <thead>
                                <tr>
                                    <th class="userstoryBacklog" style="width: 320px">
                            <header>
                                <h3>Sprint Backlog</h3>
                            </header>
                            </th>
                            <th ng-repeat="column in ScrumBoardColumn" ng-hide="column.isArchive">
                            <header class="row p0 m0">
                                <div class="col-sm-8 p0 m0">
                                    <h3>{{column.name}}</h3>
                                </div>
                                <div class="col-sm-2 p0 m0" style="height: 24px" ng-if="column.isCanDelete"> 
                                    <!-- <i class="fa fa-sort-desc"></i> -->
                                    <ul style="position: absolute; padding-left: 30px;z-index: 10000">
                                        <li class="dropdown">
                                            <a id="userName" href="" class="dropdown-toggle" data-toggle="dropdown">                                               
                                                <i class="fa fa-sort-desc"></i>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a class="text-left" ng-click="ArchiveThisColumn(column)">Archive this Column</a>
                                                    </li>
                                                    <li>
                                                        <a class="text-left">Move All Task This Column</a>
                                                    </li>
                                                    <li><a class="text-left" ng-click="ArchiveAllTask(column)">Archive All Task</a></li>
                                                </ul>
                                        </li>
                                    </ul>
                                </div>
                            </header>
                            </th>
                            </tr>
                            </thead>
                            <tbody>                                
                                <tr ng-repeat="usitem in sprintChoose.userstories" class="col-scrumboard_all">
                                    <th class="userstoryBacklog">
                            <section class="backlog_body">
                                <div class="userstories">
                                    <ul class="card-list">
                                        <li class="story card" style="height: {{usitem.height}}px" >
                                            <header class="ustory">
                                                <span class="name tracker_markup">
                                                    <div class="project_name"></div>
                                                    <span class="pre labels"></span>
                                                    <span class="story_name"> <p style="padding: 0 30px;">{{usitem.name}}</p></span>
                                                    <span class="add_task" style="position: absolute;right: 0; height: 32px; width: 32px; top: 0;" ng-click="addTask(usitem, sprintChoose.isLock, ScrumBoardColumn)" title="add new task for this userstory">
                                                        <i class="fa fa-plus-circle fa-2x"></i>
                                                    </span>
                                                </span>
                                            </header>
                                            <div class=" foooter ustory row p0 m0">
                                            <!--    <div class="col-sm-12 col-sd-12 p0 r0">
                                                    <a class="btn btn-default" >Product Owner</a>
                                                </div>
                                            -->
                                                <div class="col-sm-5 col-sd-5 p0 m0">
                                                    <a class="btn btn-default points" >{{usitem.point}} points</a>
                                                </div>
                                                <div class="col-sm-7 col-sd-7 p0 m0">
                                                    <a class="btn btn-default status" >{{usitem.status}}</a>
                                                </div>

                                                <div class="col-sm-12 col-sd-12">
                                                    <!-- -->
                                                    <progressbar class="progress-striped active m0" value="usitem.progress" >{{usitem.progress}}%</progressbar>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            </th>
                            <!---->
                            <th ng-repeat="column in ScrumBoardColumn" class="contentTask" ng-hide="column.isArchive">
                            <ul class="list_tasks"   dnd-list="usitem.tasks"  dnd-allowed-types="usitem.userStoryType" dnd-horizontal-list="true"  dnd-external-sources="false"  dnd-drop="dropCallback(event, index, item, external, type, 'itemType',column.name, usitem.tasks)">
                                <li ng-repeat="task in usitem.tasks| filterTaskByNameEstimatePriority:tags"
                                    animate-on-change='task.taskName + task.priority + task.estimateTime + task.status' ng-animate=" 'animate'"
                                    dnd-draggable="task"
                                    dnd-type="task.userStoryId"
                                    dnd-dragstart="logEvent('Started to drag an item', event)"
                                    dnd-disable-if="(sprintChoose.isLock === '1') || !(sprintChoose.status === 'INPROGRESSING')"
                                    dnd-moved="usitem.tasks.splice($index, 1);"
                                    dnd-effect-allowed="move"
                                    class="task row p0"  
                                    ng-if="((task.scrumBoardColumnId) === (column.scrumBoardColumnId)) && (task.isArchive !== 1)" 
                                    ng-click="editTask(task, sprintChoose)">

                                    <div class="col-sm-8 col-sd-8  taskName text-left">
                                        <label>{{task.taskName}}</label>
                                    </div>
                                    <div class="col-sm-4 p0 m0">
                                        <div class="m0 p0 row" style="height: 30px">
                                            <div class="col-md-12" style="padding: 3px 1px;">
                                                <code class="col-sm-5 p0 m0" style="left: 0; position: absolute;">
                                                    {{task.estimateTime}}h
                                                </code>
                                                <code class="col-sm-5 p0 m0" style="position: absolute; color: rgb(1, 2, 3);">
                                                    {{task.spentTime}}h
                                                </code>
                                            </div>
                                        </div>
                                        <div class="m0 p0 row">
                                            <div class="col-md-12" style="padding-left: 0;">
                                                <progressbar class="progress-striped active m0" value="(task.spentTime/task.estimateTime)*100" >{{((task.spentTime / task.estimateTime) * 100).toFixed(2) || 0}}%</progressbar>
                                            </div>      
                                        </div>

                                    </div>
                                    <div class="col-sm-12 row process p0 m0">
                                        <div class="list_card-members js-list-card-members">
                                            <div class="member is-member-on-card-menu" ng-repeat="user in task.assignedusers">
                                                <img class="member-avatar" height="30" width="30" src="{{user.avatarURL}}" alt="{{user.Fullname}}" title="{{user.userName}}">
                                                <span class="member-gold-badge" title="{{user.roleName}}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            </th>
                            </tr>
                            </tbody>
                        </table>
                        <!-- SHOWING NO DATA FOUND -->
                        <div ng-show="noDataFound" class="row p0 m0">
                            <div class="col-sm-4" id="nodatafound">
                                <div class="col-sm-3 p0 m0">
                                    <i class="fa fa-ban fa-5x"></i>&nbsp;
                                </div>                                
                                <div class="information_notFound col-sm-9 p0 m0">
                                    <code> No Backlog items and Sprint<br/> in that moment. <br/> click
                                        <a style="color:#3071a9" href="#/sprint/{{columnInsert.projectId|| projectId}}">here</a> to manage Sprints                                        
                                    </code>
                                </div>
                            </div> 
                        </div>

                        <div ng-show="noDataUserStoryFound" class="row p0 m0">
                            <div class="col-sm-4" id="nodatafound">
                                <div class="col-sm-2 p0 m0">
                                    <i class="fa fa-ban fa-5x"></i>&nbsp;
                                </div>                                
                                <div class="information_notFound col-sm-10 p0 m0">
                                    <code> No Backlog items in this sprint. <br/> click
                                        <a style="color:#3071a9" href="#/sprint/{{columnInsert.projectId|| projectId}}">here</a> to manage Sprints
                                    </code>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <!-- Footer -->
    <div class="footer_ScrumBoard" ng-show="sprintChoose.userstories.length > -1">
        <div id="footer_ScrumBoard" class="row" style="margin: 10px -15px 0 -15px">  
            <!-- STATUS -->
            <div class="col-sm-4 col-sd-4 p0">
                <div class="form-group">
                    <label class="col-sm-5 control-label text-right">
                        STATUS
                    </label>
                    <div class="col-sm-7 p0 m0">
                        <span ng-disable ="true" >{{sprintChoose.status}}</span>
                    </div>
                </div>
            </div>
            <!-- Complete and create -->
            <div class="col-sm-4 col-sd-4">
                <div class="form-group btn-group btn-group-justified">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="CompleteThisSprint(sprintChoose)">Complete this sprint</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="CreateColumn(columnInsert, ScrumBoardColumn);">Edit this board</button>
                    </div>
                </div>
            </div>
            <!-- Select Sprint -->            
            <div class="col-sm-4 col-sd-4">
                <div class="form-group ">
                    <label class="col-sm-3 control-label text-right">
                        SPRINT
                    </label>
                    <div class="col-sm-9">                  
                        <select ng-options="sprint as sprint.sprintName for sprint in sprints" 
                                ng-model="sprintChoose" ng-change="SeeSpecificSprint()" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
