<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <style>
            .user-row {
                margin-bottom: 14px;
            }

            .user-row:last-child {
                margin-bottom: 0;
            }

            .dropdown-user {
                margin: 13px 0;
                padding: 5px;
                height: 100%;
            }

            .dropdown-user:hover {
                cursor: pointer;
            }

            .table-user-information > tbody > tr {
                border-top: 1px solid rgb(221, 221, 221);
            }

            .table-user-information > tbody > tr:first-child {
                border-top: 0;
            }


            .table-user-information > tbody > tr > td {
                border-top: 0;
            }
            .toppad
            {margin-top:20px;
            }

        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
                    <A href="edit.html" >Edit Profile</A>

                    <A href="edit.html" >Logout</A>
                    <br>
                    <p class=" text-info">May 05,2014,03:00 pm </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{user.Fullname}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center">  
                                    <!-- 
                                    -->
                                    <img src="{{user.avatarURL}}"/>
                                </div>
                                <div class=" col-md-9 col-lg-9 "> 
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>Department:</td>
                                                <td>Programming</td>
                                            </tr>
                                            <tr>
                                                <td>Hire date:</td>
                                                <td>
                                                    <div class="col-sm-12" datetimez  ng-model="user.hireDate">
                                                        <input type="text" class="input-append"
                                                               ng-value="user.hireDate"                              
                                                               placeholder="Hire Date"/>

                                                        <span class="add-on">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>                                                       
                                                    </div></td>
                                            </tr>
                                            <tr>
                                                <td>Date of Birth</td>
                                                <td>
                                                    <div class="col-sm-12" datetimez  ng-model="user.birthDate">
                                                        <input type="text" class="input-append"
                                                               ng-value="user.birthDate"                              
                                                               placeholder="Birth Day"/>

                                                        <span class="add-on">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>                                                       
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                            <tr>
                                                <td>Gender</td>
                                                <td>
                                                    <select class="dropup" ng-model="user.gender" toggle-dropdown>
                                                        <option>MALE</option>
                                                         <option>FEMALE</option>
                                                          <option>NONE IDENTIFY</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Home Address</td>
                                                <td><input type="text" class="form-control"
                                                           ng-model="user.address"                              
                                                           placeholder="address"/></td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td><a>{{user.email}}</a></td>
                                            </tr>
                                        <td>Phone Number</td>
                                        <td>123-4567-890(Landline)<br><br>
                                            <input class="form-control" name="phone number" ng-model="user.phoneNumber" placeholder="Phone Number" popover="Only number..!" only-numbers/>                                            
                                        </td>

                                        </tr>

                                        </tbody>
                                    </table>
                                    
                                </div>
                                <div class="row p0 m0" ng-show="messageUpdate">
                                    <div class="alert alert-error text-center" ng-show="messageError.condition" style="color:red">
                                        <a class="close" data-dismiss="alert">&times;</a>
                                        <strong>Update this user successfully!</strong>
                                    </div>                         
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                            <span class="pull-right">
                                <a ng-click="EditUser(user);" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                                <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                var panels = $('.user-infos');
                var panelsButton = $('.dropdown-user');
                panels.hide();

                //Click dropdown
                panelsButton.click(function () {
                    //get data-for attribute
                    var dataFor = $(this).attr('data-for');
                    var idFor = $(dataFor);

                    //current button
                    var currentButton = $(this);
                    idFor.slideToggle(400, function () {
                        //Completed slidetoggle
                        if (idFor.is(':visible'))
                        {
                            currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
                        }
                        else
                        {
                            currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
                        }
                    })
                });


                $('[data-toggle="tooltip"]').tooltip();

                $('button').click(function (e) {
                    e.preventDefault();
                    alert("This is a demo.\n :-)");
                });
            });
        </script>
    </body>
</html>
