<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h3 class="modal-title text-center">Add Task</h3>
</div>
<div class="modal-body">
    <form name="task_form" class="form-horizontal" role="form" novalidate>


        <div class="form-group">
            <label class="col-sm-1 control-label no-padding-right require"> NAME </label>
            <div class="col-sm-11">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control " name="name" ng-model="task.taskName" required="" placeholder="Task Name" ng-minlength="1" ng-maxlength="50000" ng-disabled="isLock === 1" blacklist="checkScrumColumntask" rows="12" focus-me="shouldBeOpen">
                    <div class="error ng-scope ng-hide" ng-show="task_form.name.$invalid && task_form.name.$dirty">
                        <span ng-show="task_form.name.$error.required" class="">
                            Please enter a value (Task Name)
                        </span>
                        <span ng-show="task_form.name.$error.minlength" class="ng-hide">
                            Please enter at least 1 characters
                        </span>
                        <span ng-show="task_form.name.$error.maxlength" class="ng-hide">
                            Please enter no longer than 255 characters
                        </span>
                        <span ng-show="task_form.name.$error.blacklist">
                            task with this name ( {{task.taskName}} ) is already in the project
                        </span>
                    </div>
                </span></div></div>

        <div class="form-group">
            <!-- DESCRIPTION FORM -->
            <div class="col-sm-7">
                <label class="col-sd-12 control-label ng-binding">  DESCRIPTION</label>
                <div class="col-sd-12">
                    <span class="block input-icon input-icon-right">
                        <textarea class="form-control " name="description" ng-model="task.Description" placeholder="Description" ng-maxlength="50000"></textarea>
                        <div class="error ng-scope ng-hide" ng-show="task_form.description.$invalid && task_form.description.$dirty">
                            <span ng-show="task_form.description.$error.maxlength" class="errorMessage ng-hide">
                                Description length less than 500 characters
                            </span>
                        </div>

                    </span></div>

                <hr/>                
                <div class="col-sd-12 borderRadius holdingTask"></div>

            </div>
            <div class="col-sm-5 borderRadius">
                <!-- ESTIMATE -->
                <!-- TASK TYPE -->
                <div class="form-group border_bottom">
                    <label class="col-sm-3 control-label">
                        TYPE
                    </label>
                    <div class="col-sm-9">
                        <section id="simpleFeature">
                            <select selectpicker="" toggle-dropdown ng-model="task.type">
                                <option>Feature</option>
                                <option>Bug</option>
                                <option>Chore</option>
                            </select>
                        </section>
                    </div>
                </div>
                <!-- REQUESTER
                                <div class="form-group border_bottom">
                    <label class="col-sm-3 control-label">
                        ASSIGNED
                    </label>
                    <section id="simpleRequester" class="col-sm-9" ng-model="member">
                        <option ng-repeat="member in userMembers">{{member.Fullname}}</option>
                    </section>
                </div>
                -->
                <!-- FOLLOW THE STORY -->
                <div class="form-group border_bottom">
                    <label class="col-sm-3 control-label require">
                        ESTIMATE
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control" name="estimate" ng-model="task.estimateTime" placeholder="estimate hours" popover="Only interger..!" only-numbers required=""/>
                    </div>                    
                </div>
                <!-- SPRINT NAME -->
                <div class="form-group border_bottom">
                    <label class="col-sm-3 control-label">
                        SPENT TIME
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control" name="point" ng-model="task.spentTime" placeholder="sprent hours" popover="Only interger..!" only-numbers />
                    </div>
                </div>
                <!-- PRIORITY -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        PRIORITY
                    </label>
                    <div class="col-sm-9">
                        <section id="simplePriority" >
                            <select selectpicker="" toggle-dropdown ng-model="task.priority">
                                <option>1-Highest</option>
                                <option>2-High</option>
                                <option>3-Medium</option>  
                                <option>4-Low</option> 
                                <option>5-Lowest</option> 
                            </select>
                        </section>
                    </div>
                </div>
                <!-- STATUS 
                    <div class="form-group" style="display: {{displayStatus}}">
                    <label class="col-sm-3 control-label">
                        STATUS
                    </label>
                    <div class="col-sm-9">
                        <section id="simpleStatus">
                            <select selectpicker="" toggle-dropdown ng-model="task.status" ng-disabled="isDisabled" ng-model="isDisabled">
                                <option>TODO</option>
                                <option>IN PROGRESSING</option>
                                <option>TESTING</option>  
                                <option>REWORK</option> 
                                <option>DONE</option> 
                            </select>
                        </section>
                    </div>
                </div>
                -->       
            </div>
        </div>

        <div class="space"></div>
        <div class="space-4"></div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-7">
                    <div class="alert alert-error" ng-show="messageError.condition" style="color:red">
                        <a class="close" data-dismiss="alert">&times;</a>
                        <strong>Error!</strong> {{messageError.context}}
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="saveTask(task);"
                                ng-disabled="task_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>Add
                        </button>
                    </div>
                </div>             

            </div>
        </div>
    </form>
</div>

