<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h3 class="modal-title">
        <label class="text-left">
            Task
        </label>
        <label class="text-right">#{{task.taskId}}</label>
    </h3>
</div>
<div class="modal-body">
    <form name="task_form" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right ng-binding"> NAME</label>
            <div class="col-sm-10">
                <span class="block input-icon input-icon-right">
                    <textarea type="text" class="form-control"  rows="4" cols="50" name="name" ng-model="task.taskName" required="" placeholder="Task Name" ng-minlength="1" ng-maxlength="50000" ng-disabled="(task.status === 'DONE')"  autofocus></textarea>
                    <div class="error ng-scope ng-hide" ng-show="task_form.name.$invalid && task_form.name.$dirty">
                        <span ng-show="task_form.name.$error.required" class="">
                            Please enter a value (Task Name)
                        </span>
                        <span ng-show="task_form.name.$error.minlength" class="ng-hide">
                            Please enter at least 1 characters
                        </span>
                        <span ng-show="task_form.name.$error.maxlength" class="ng-hide">
                            Please enter no longer than 255 characters
                        </span>
                        <span ng-show="task_form.name.$error.blacklist">
                            the User story with this name ( {{task.taskName}} ) is already in the project
                        </span>
                    </div>                 
                </span>              

            </div>
        </div>        
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right ng-binding">DESCRIPTION</label>
            <div class="col-sm-10">
                <span class="block input-icon input-icon-right">
                    <textarea type="text" class="form-control"  rows="4" cols="50" name="description" ng-model="task.Description" placeholder="Description" ng-minlength="1" ng-maxlength="50000" ng-disabled="(isBlockMoveTask === 1)"></textarea>
                </span>
            </div>
        </div>
        <!-- -->
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right ng-binding">STATUS</label>
            <div class="col-sm-10">
                <div>
                    <div>
                        <select class="dropup" ng-model="task.status" ng-disabled="(isBlockMoveTask === 1)" toggle-dropdown>
                            <option ng-repeat="item in ScrumBoardColumns track by $index">{{item.name}}</option>
                        </select>
                    </div>                           
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right ng-binding">ESTIMATE</label>
            <div class="col-sm-4">
                <input class="form-control" name="estimate" ng-model="task.estimateTime" placeholder="estimate hours" popover="Only number..!" only-numbers ng-disabled="(task.status === 'DONE') || (isBlockMoveTask === 1)" required=""/>
            </div>
            <div ng-if="selectWithOptionsIsVisible">
                <label class="col-sm-2 control-label no-padding-right ng-binding">SPENT</label>
                <div class="col-sm-4">
                    <input class="form-control" name="remaining" ng-model="task.spentTime" placeholder="remaining" popover="Only number..!" only-numbers ng-disabled="(task.status === 'DONE')" required=""/>
                </div>
            </div>

        </div>            

        <!-- ASSINGED TO -->
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right ng-binding">ASSIGNED TO</label>
            <div class="col-sm-4">                
                <div>
                    <ul class="nav navbar-nav">
                         <li class="dropdown">
                                    <a href="" class="dropdown-toggle orrage" data-toggle="dropdown">Select One <strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="member in userMembers track by $index">
                                            <div class="row p0 m0">
                                                <input id="{{member.Fullname}}" class="col-sm-2 p0 m0" type="checkbox" value="{{member.email}}" ng-checked="checkTaskMemInUserList(member);" ng-click="toggleSelection(member)" />
                                                <a class="col-sm-10 p0 m0" ng-click="toggleSelection(member)">{{member.Fullname}}</a>
                                            </div>                                            
                                        </li>
                                    </ul> 
                                </li>
                    </ul>
                </div> 
            </div>
            <label class="col-sm-2 control-label no-padding-right">MEMBERS</label>
            <div class="col-sm-4 p0" style="float: right; margin: 2px -2px 2px 4px;">
                <div class="member is-member-on-card-menu" ng-repeat="user in task.assignedusers track by $index">
                    <img class="member-avatar" height="30" width="30" src="{{user.avatarURL}}" alt="{{user.Fullname}}" title="{{user.userName}}">
                    <span class="member-gold-badge" title="{{user.roleName}}"></span>
                </div>
            </div>
        </div>
        <hr/>
        <div class="space"></div>
        <div class="modal-footer">
            <div class="row p0 m0">
                <div class="col-sm-4" ng-click="Archive(task)">
                    <a>Delete this task</a>
                </div>
                <!--
                <div class="col-sm-4" ng-click="showActivities(task)">
                    <a>Show activities</a>
                </div>
                -->
                <div class="col-sm-4">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="saveTask(task);"
                                ng-disabled="(task_form.$invalid || enableUpdate) || !(sprintChoose.status === 'INPROGRESSING')"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>