Welcome to Visor's example application.<br/>
This application is designed to demonstrate navigation and routing restriction using Visor and angular-ui-router.<br/>
<br/>
you are at the 'Home' route. You can access this route at any point <br/>
At the top there are 4 routes: <br/>
<ul>
    <li>Home:- this route, which you can always access</li>
    <li>Private:- which you can access only after logging in.trying to access the private route if you are not authenticated</li>
    <li>Admin:- which only users who are admins can access. You can login as admin in the login page</li>
    <li>Login:- on the right side you can access the login page that would let you log in</li>
</ul>
<br/>
this application uses cookies to remember if you are logged in or not