<form>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="is_admin"/>Login as admin.
        </label>
    </div>
    <button class="btn btn-default" ng-click="login()">
        Login
    </button>
</form>