This is the home page content. If you see this, you are logged in. You will remain logged in, even if you close the brower, untill you sign out.
<br/>
<a href="" ui-sref="restricted">GO to restricted page (will show you Access Denied)</a>
<br/>
<a href="" ng-click="signout();">Click to sign out</a>