div#container_ScrumBoard {
    height: 100%;
    width: 100%;
}

div.footer_ScrumBoard {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2C2C2C;
    color: #F35A27;
    z-index: 50;
}

.floatRigth {
    float: right;
}

.floatLeft {
    float: left;
}

div#headerScrumBoard {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 50px;
}

div#ScrumBoardHold {
    height: 100%;
    top: 0;
    padding-top: 100px;
    width: 100%;
    position: fixed;
    padding-bottom: 60px;
    z-index: 10;
}

#board { 
    margin: 0;
    //padding: 0 10px 0 10px;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    background-color: white;
}
#board table {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
}


div.story,
div.task {
    position: relative;
    padding: 5px 0;
    margin: 4px 4px 4px 0;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

div.story {
    margin: 0 5px 0 0;
}

div.story h3,
div.task h3 {
    font-size: 13px;
    line-height: 13px;
    padding: 0;
    margin: 5px;
    text-align: center;
    text-shadow: none;
    font-weight: normal;
    transform-style: preserve-3d;
    -webkit-backface-vivbility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
}

div.list_card-members {
    float: left;
    margin: 2px -2px 2px 4px;
}

.list_card-members .member {
    float: right;
}

.member {
    background-color: #d6dadc;
    border-radius: 3px;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
    widows: 30px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
}

#columns { margin: 20px 0 5px 0;}
#columns > div { padding-left: 5px; padding-right:5px;}

.column {
    border: solid 1px darkgrey;
    box-shadow: rgba(0, 0, 0, 0.7) 0 1px 10px 0;
}
.noMargin { margin-bottom: 0;}

.default {
    box-shadow: inset rgba(0, 0, 0, 0.0980392) 0 1px 10px 0;
}
.default-color { background-color: #ffffff; }

.card-title {
    color: #7c9eb2;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.5em;
    padding: 2px 1px;
    display: block;
}

.addNewCard {
    float: right;
    padding-right: 30px;
    color:  green;
}

.removeCard {
    padding: 12px;
    color: #444;
}

div.tableScrumBoard {
    //padding: 20px 0;
    position: relative;
    height: 100%;
    width: 100%;
}

table#tableForScrumBoard {
    margin: 20px 0;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 10px #000;
}

div.col-scrumboard {
    height: 100%;
    overflow: auto;
    background-color: white;
}

header h3, table h3 {
    color: #083B67 !important;
}

section.backlog_body {
    height: 100%;
}

//// TABLE


table#tableForScrumBoard {
    // background-color: red;
}

#tableForScrumBoard thead th {
    min-width: 300px;
    text-align: center;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 2px #888;
    -webkit-box-shadow: 0 0 2px#888;
    //box-shadow: 0 0 2px #888;
    border: 2px solid;
    border-color: black;
}

#tableForScrumBoard thead th:nth-child(even) {
    background: rgba(175, 198, 255, 0.5);
}


#tableForScrumBoard tbody th:nth-of-type(even),
#tableForScrumBoard tbody td:nth-of-type(even){
    background: rgba(175, 198, 255, 0.5);
    // box-shadow: 1px 10px 10px rgba(0,0,0,1);
    border-color: black;
    border: 2px solid;
    //max-height: 600px;
    //overflow-y: auto;
}

#tableForScrumBoard tbody th:nth-of-type(odd),
#tableForScrumBoard tbody td:nth-of-type(odd){
    background: rgba(255, 255, 255, 0.5);
    //box-shadow: 1px 10px 10px rgba(0,0,0,1);
    border-color: black;
    border: 2px solid;
    //max-height: 600px;
    //overflow-y: auto;
}


header span.addtask {
    position: absolute;
    right: 0;
    height: 32px;
    width: 32px;
    top: 0;
}

header.ustory {
    position: relative;
    height: auto;
} 

header.ustory .story_name {
    padding-right: 32px;
}

span.story_name {

}

.card-list {
    margin: 0 20px 0 20px;
    padding: 0;
    list-style: none;
    min-height: 50px;
    min-width: 250px;
}

.card {
    //border: 1px solid;
    //border-color: #006dcc;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    //background: rgba(117, 144, 211, 0.5);
}


header span.story_name {
    word-wrap:  break-word;
    min-height: 40px;
}


div.foooter.ustory {
    font-family:  sans-serif;
    font:  bold;
    color: #006dcc;    
    height: 128px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

div.foooter a.btn.points {
    float: right;
}

div.foooter a.btn.status {
    float: left;
    min-width: 120px;
}

div.foooter a {
    margin: 5px;
    background: rgba(117, 144, 211, 0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-color: #006dcc;
}


/// SCRUM ROW
table thead tr th#userstoryBacklog {
    width: 400px;
}


tr.scrumRow.ng-scope {
    padding-top: 3px;
    border: 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

th.contentTask {
    position: relative;
    height: 100%;
}

th.userstoryBacklog {
    box-shadow: 1px 10px 10px rgba(0,0,0,0.1);
}

ul.list_tasks {
    // position: absolute;
    top: 0;
    height: 100%;
    //overflow-y: auto;
    //overflow-x: hidden;
    width: 100%;
    padding: 20px 0;
    min-width: 200px;
}

li.story
{
    position: relative;
    padding: 5px 0;
    margin: 8px 4px ;
    text-align: center;
    //   box-shadow: 1px 10px 10px rgba(0,0,0,0.1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

li.task {
    position: relative;
    padding: 5px 0;
    margin: 8px 4px ;
    text-align: center;
    box-shadow: 1px 10px 10px rgba(0,0,0,0.1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}


li.task {
    min-height: 120px;
    width: 250px;
    background: rgba(235, 225, 80, 1);
    min-width: 200px;
    //-webkit-transition:all 3000ms;
    //transition:all 3000ms;
}

li.task:hover {
    background: rgba(234, 226, 120, 1);
}

li div.taskName {
    margin-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}

li div.process {
    //position: absolute;
    //bottom: 0;
    //height: 20px;
    width: 100%;
}

li div.taskName label {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break:break-all;
    -ms-word-break: break-all;
    // Non standard for webkit
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.font-text-for-loading {
    font-family: "Times New Roman", Times, serif;
}

option.checkIsInProject {
    background-repeat: no-repeat !important;
    padding-left: 20px;
}

.checkIsInProject {
    background-position: left top;
}

li div.progress-bar {
    background: rgba(6, 204, 0, 1) !important;
}

li div div span.ng-scope.ng-binding {
    //position: absolute;
    //left: 40%;
    color: #000;
}

.pleft {
    position: absolute;
    left: 0;
}

.pright {
    position: absolute;
    right: 0;
}


/// CUSTOM bootstrap choi :D
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
}

tr.col-scrumboard_all {
    border: 1.5px solid;
    border-color: rgba(0, 0, 0, 0.99);
    box-shadow: 2px 2px 2px 2px #000000;
}

///// Drag and Drop
ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 40px;
    border-radius: 7px;
    border: 1px dashed #000;
}

.list_tasks li[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 55px;
}


th.userstoryBacklog {
    max-width: 400px
}

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.typesDemo ul[dnd-list],
.typesDemo ul[dnd-list] > li {
    position: relative;
}

.typesDemo ul[dnd-list] .dndPlaceholder,
.typesDemo ul[dnd-list] > li .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 55px;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.typesDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
    min-width: 280px;
    //max-height: 700px; 
    //overflow-x: auto;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.typesDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.typesDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.typesDemo ul[dnd-list] li {
    border: 1px solid #ddd;
    border-radius: 10px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    position: relative;
    z-index: 1000;

    /* Disable text selection if item is not draggable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    /*Transition when create*/
}

/**
 * Gender-specifc background
 */
.typesDemo ul[dnd-list] li {

}


div#nodatafound {
    position: absolute;
    top: 200px;
    left: 30%;
    border: solid 1px #006dcc;
}


#nodatafound code {
    margin-top: 40px;
    word-wrap: break-word;
}


/// FOR LOADING PAGE
#load.light-loading{
    background-color: rgba(218, 210, 210, 0.95);
    background-image: none;
}

#load.light-loading {
    background-color: rgba(218, 210, 210, 0.95);
}

body #load {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 9501;
}

#load {
}

#load .pace .pace-activity {
    margin: -65px 0 0 -65px;
    width: 130px;
    height: 130px;
    background: 0 0;
}

.pace-activity {
    position: fixed;
    display: block;
    z-index: 2000;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    background: #76c276;
    pointer-events: none;
    border-radius: 100%;
}

// custom
div.tags input.input.ng-valid {

}
/// Menu on Top
#menuOnTop {
    height: 50px;
}

#container_ScrumBoard div#menuOnTop {
    position: fixed;
    width: 100%;
    z-index: 20;
    padding-top: 10px;
    padding-left: 15px;
    background: rgba(214, 226, 254, 1);
    height: 60px;
}


/// customize header
.board-header {
    height: auto;
    overflow: hidden;
    padding: 10px 8px;
    position: relative;
    -webkit-transition: margin 150ms ease-in;
    transition: margin 150ms ease-in;
}

.board-header-btn-name {
    cursor: default;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    //padding-left: 30px;
    text-decoration: none;
}
.board-header-btn {
    border-radius: 3px;
    color: #000;
    cursor: default;
    //float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 4px 0 0;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
.board-header-btns.mod-left {
    float: left;
}
.board-header-btns {
    position: relative;
    display: block;
}
.board-header-btn.board-header-btn-enabled {
    //background-color: rgba(0,0,0,.1);
    padding: 0 20px;
    margin: 0 20px;
}
.hide {
    display: none;
}

.board-header-btn-icon {
    background-clip: content-box;
    background-origin: content-box;
    color: #f6f6f6;
    padding: 6px;
    position: absolute;
    top: 0;
    left: 0;
}
.icon-public {
    color: #70b500;
}
.icon-lg, .icon-sm {
    color: #a6a6a6;
}
.icon-sm {
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    width: 18px;
}
.board-header-btn-text {
    padding-right: 8px;
    font-size: 15px;
    font-family: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
   // width: 300px;
}

span.board-header-btn-text.project  {
    position: absolute;
    left: 30px;
    //top: -10px;
    }

.board-header-btns.mod-right {
    float: right;
}
div.agile_total_box {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    cursor: default;
}
user stylesheetdiv.agile_remaining_box {
    background-color: rgb(202, 227, 202);
}

div.agile_box {
    font-family: cursive;
    //background: #e1e0de;
    font-size: 14px;
}

div.agile_total_box {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    cursor: default;
    font-weight: bolder;
    //background-color: rgb(242, 206, 206);
    //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
}

div.agile_total_box.agile_estimation_box {
    color: rgb(242, 143, 143);;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

div.agile_total_box.agile_remaining_box {
    color: rgb(117, 115, 115);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

div.agile_total_box.agile_spent_box {
    color: rgb(20, 73, 185);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-right: 5px;
}

user stylesheetdiv.agile_estimation_box {
    background-color: rgb(197, 205, 222);
    margin-right: 5px;
}
user stylesheetdiv.agile_box {
    border: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 3px;
    color: black;
    float: left;
    font: 15px Helvetica;
    padding: 2px 4px;
    text-align: center;
    width: auto;
}

label.sprintIteractive:hover {
    cursor: pointer;
    color: #F35A27;
}

div.scrum_box.scrum_box_estimate_box {
    background-color: rgb(242, 206, 206);
    margin-right: 5px; 
}

div.scrum_box.scrum_box_spent_box {
    background-color: rgb(197, 205, 222);
    margin-right: 5px;
    float: left;
}


///
#footer_ScrumBoard {
    padding: 0 30px;
}
#footer_ScrumBoard {
    padding: 0 30px;
}

.filter-parent {
    position: relative;
    font-size: 18px;
    //padding-top: 40px;
    //margin: -20px auto 50px;
}

.filter-parent label {
    position: absolute;
    left: 17px;
    top: 50px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-parent .hint {
    color: #aaa;
}

.filter-parent #filter-by, .filter-parent .hint {
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 23px;
}
.input-lg, .form-horizontal .form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

tags-input.tagsinput {
    position: absolute;
    top: 0;
    background-color: transparent;
}

label.search-icon {
    position: absolute;
    top: 15px;
}

ul li a span.projectnamelist {
    font-size: 11px;
    font-family: serif;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 8px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.projectmenu {
    border-radius: 4px;
    border: 1px solid;
    border-color: rgb(202, 204, 255);
    max-height: 400px;
    overflow-y: auto;
    max-width: 240px;
}
.dropdown-menu li.project {
    border: 0;
}
div.contentProjectName {
    background-color: #D1DEEA;
    border-radius: 4px;
    height: 25px;
    //margin-top: 5px;
}
.dropdown-menu li.project a {
    padding: 3px 5px;
} 
.require {
    color: red;
}