<link rel="stylesheet" href="../css/customcss/custom.css" />
<ul dnd-list="list.object" 
    dnd-allowed-types="list.allowedTypes"
    dnd-disable-if="list.object.length >= list.max"
    class="story">
    <li ng-repeat="userstory in list.object"
        dnd-draggable="userstory"
        dnd-type="userstory.dataType"
        dnd-disable-if="userstory.type == 'unknown'"
        dnd-moved="list.object.splice($index, 1)"
        dnd-effect-allowed="move"
        class="background-{{userstory.dataType}}"
        ng-include="userstory.dataType+'.html'"
        >      
    </li>
</ul>

<script type="text/ng-template" id="userstory.html">
    <header class="preview">                              
            <span class="name tracker_markup">
                <div class="project_name"></div>
                <span class="pre labels">
                </span>
                <span class="story_name"> {{userstory.name}}</span>
                <span class="post labels">
                </span>
            </span>
        </header>
</script>

<script type="text/ng-template" id="sprint.html">
          <div class="iteration item">
            <header class="preview row no-padding no-margin">                                      
                <span class="sprintname col-sm-7 no-margin">{{object.sprintName}}</span>
                    <time class="length col-sm-3 no-margin no-padding" title="Iteration from {{(sprint.start_date)}} to {{sprint.end_date}}">{{object.start_date}}–{{object.end_date}}</time>
                        <span class="points col-sm-2 no-margin no-padding">
                            Pts:
                        <span class="completed">0 of </span>
                    <span class="total">{{object.totalPoint}}</span>
                </span>
            </header>
       <div class="column" ng-include="'list.html'"></div>
    </div>
</script>

<!--       //<div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div> -->
<script type="text/ng-template" id="list.html">
    <ul dnd-list="object.columns"
        dnd-allowed-types="object.allowedTypes"
        class="listUserstories">
        <li ng-repeat="userstory in object.columns"
        dnd-draggable="userstory"
        dnd-type="userstory.dataType"
        dnd-effect-allowed="move"
        dnd-moved="object.columns.splice($index, 1)"
        dnd-selected="models.selected = us"
        ng-class="{selected: models.selected === us}"
        ng-include="'userstory.html'">
        </li>
    </ul>
</script>