<link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">   

<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h3 class="modal-title text-center">{{title}}</h3>
</div>
<div class="modal-body">
    <form name="sprint_form" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="col-sm-1 control-label no-padding-right ng-binding">  NAME</label>
            <div class="col-sm-11">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control " name="sprintName" ng-model="sprint.sprintName" required="" placeholder="Sprint Name" ng-minlength="4" ng-maxlength="20">

                    <div class="error ng-scope ng-hide" ng-show="sprint_form.sprintName.$invalid && sprint_form.sprintName.$dirty">
                        <span ng-show="sprint_form.sprintName.$error.minlength" class="ng-hide">
                            Please enter at least 4 characters
                        </span>
                        <span ng-show="sprint_form.sprintName.$error.maxlength" class="ng-hide">
                            Please enter no longer than 20 characters
                        </span>
                        <span ng-show="sprint_form.sprintName.$error.blacklist">
                            the User story with this name ( {{sprint.sprintName}} ) is already in the project
                        </span>
                    </div>
                </span>
            </div>
        </div>
        <hr/>

        <div class="form-group row">
            <div class="col-sm-7">
                <label class="col-sd-12 control-label ng-binding">  DESCRIPTION</label>
                <div class="col-sd-12">
                    <span class="block input-icon input-icon-right">
                        <textarea class="form-control " name="description" ng-model="sprint.description" placeholder="Description" ng-maxlength="500" style="height: 150px"></textarea>
                        <div class="error ng-scope ng-hide" ng-show="sprint_form.description.$invalid && sprint_form.description.$dirty">
                            <span ng-show="sprint_form.description.$error.maxlength" class="errorMessage ng-hide">
                                Description length less than 500 characters
                            </span>
                        </div>
                    </span>
                </div>
            </div>
            
            <div class="col-sm-5 borderRadius" style="padding-top: 10px">
                <!-- Start time -->
                <div class="form-group" style="margin: 15px 0">
                    <label class="col-sm-4 control-label no-padding">
                        START TIME 
                    </label>
                    <div id="Fromdate" class="col-sm-8" ng-model="sprint.start_date" style="line-height: inherit">
                        <p class="input-group">
                            <input id="startDate" type="date" class="form-control" ng-model="sprint.start_date" is-open="StartDateopened" datepicker-options="dateOptions" ng-required="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="Startopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <hr/>
                <!-- end time -->
                <div class="form-group" style="margin: 15px 0">
                    <label class="col-sm-4 control-label">
                        END TIME
                    </label>
                    <div id="Todate" class="input-append col-sm-8" datepicker-popup="{{format}}" ng-model="sprint.end_date"  ng-required="true"  style="line-height: inherit">
                        <p class="input-group">
                            <input id="endDate" type="date" class="form-control" ng-model="sprint.end_date" is-open="EndDateopened" min-date="{{sprint.start_date}}" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="Endopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <hr/>
                <div class="form-group" style="margin: 15px 0">

                </div>
            </div>
        </div>
        <div class="space"></div>
        <div class="space-4"></div>
        <div class="modal-footer">
            <div class="row">
                <!-- Delete -->
                <div class="col-sm-2" ng-show="showArchieve">
                    <i class="fa {{model}} fa-2x" style='float: left' title="Delete this sprint" ng-click="isCollapsed = !isCollapsed"></i>
                    <div id='comfirmDelete' class='modal-content' collapse="isCollapsed">                       
                        <div class='row m0'>
                            <p id='warningDeleteSprint'>
                                {{Message}}
                            </p>
                        </div>
                        <div class='row m0' style='position: absolute;
                             bottom: 0;padding-left: 40px;'>
                            <a class="btn btn-sm" ng-click="isCollapsed = !isCollapsed">Cancel</a>
                            <button class="btn btn-sm btn-primary" ng-click='Delete(sprint);'>
                                Sure
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="alert alert-error" ng-show="messageError.condition" style="color:red">
                        <a class="close" data-dismiss="alert">&times;</a>
                        <strong>Error!</strong> {{messageError.context}}
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="saveSprint(sprint);"
                                ng-disabled="sprint_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>  
                </div>     
            </div>
        </div>
    </form>
</div>