<link rel="stylesheet" href="../css/customcss/custom.css" />

<!-- SPRINT TEMPLATE -->
<script type="text/ng-template" id="sprint.html">
<div class="iteration">
<header class="sprint_{{sprintobject.status}} preview objectname row no-padding no-margin">                                      
<span class="sprintname col-sm-7 no-margin"  ng-click="open(sprintobject)">{{sprintobject.sprintName}}</span>
<time class="length col-sm-3 no-margin no-padding" ng-click="open(sprintobject)" title="Iteration from {{(sprintobject.start_date)}} to {{sprintobject.end_date}}">{{sprintobject.start_date}}–{{sprintobject.end_date}}</time>
<span class="points col-sm-2 no-margin no-padding">
Pts:
<span class="completed">{{sprintobject.pointComplete}} of </span>
<span class="total">{{sprintobject.totalPoint}}</span>
</span>
</header>  
        <ul dnd-list="sprintobject.userstories" 
            dnd-allowed-types="userstoryType"
            dnd-disable-if="sprintobject.status == 'DONE'"
            class="story">
                <li ng-repeat="userstory in sprintobject.userstories"
                    dnd-draggable="userstory"
                    dnd-type="userstory.dataType"
                    dnd-moved="sprintobject.userstories.splice($index, 1)"
                    dnd-effect-allowed="move"
                    class="background-{{userstory.dataType}}"
                    ng-include="'userstory.html'"
                    >      
                </li>
        </ul>
<div class="notification" ng-if="sprintobject.isLock" style="color: red">
This sprint is blocked, You need to UNBLOCK before move!
</div>
</div>
</script>


<!-- USER STORY TEMPLATE -->
<script type="text/ng-template" id="userstory.html">
    <a ng-click="openUserstory(userstory)" href="">
    <header class="userstory_{{userstory.status}} preview objectname">                              
        <span class="name tracker_markup">
            <div class="project_name"></div>
                <span class="pre labels"></span>
                <span class="story_name"> {{userstory.name}}</span>
                <span class="post labels"></span>
        </span>
    </header>
    </a>
</script>

<!-- User story template -->
<div ng-show="loadingSprintPage" class="loadingPage">
    <i class="fa fa-cog fa-5x fa-spin" style="position: absolute; left: 45%;"></i></div>
<div class="inner-wrapper" ng-hide="loadingSprintPage">
    <!-- start: sidebar -->
    <aside id="sidebar-left" class="sidebar-left">

        <div class="sidebar-header">
            <div class="sidebar-title">               
                <a href="#/backlog/{{projectId}}" style="color: rgb(216, 174, 174)!important;">PRODUCT BACKLOG ITEMS</a>
            </div>
            <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
            </div>
        </div>
        <div class="nano has-scrollbar">
            <div class="nano-content" tabindex="0" style="right: -15px;">
                <nav class="nav-main" role="navigation">
                    <ul class="nav nav-main">
                        <li class="nav-active">
                            <a ng-click="toggleProductBacklog()">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span>PRODUCT BACKLOG</span>
                            </a>
                        </li>

                        <li class="navigationSprint">
                            <a ng-click="toggleBackLog()">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                <span>CURRENT BACKLOG</span>
                            </a>
                        </li>

                        <li class="navigationSprint">
                            <a ng-click="toggleInProgress()">
                                <i class="fa fa-repeat" aria-hidden="true"></i>
                                <span>IN PROGRESS</span>
                            </a>
                        </li>

                        <li class="navigationSprint">
                            <a ng-click="toggleDone()">
                                <i class="fa fa-flag" aria-hidden="true"></i>
                                <span>DONE</span>
                            </a>
                        </li>

                        <li class="navigationSprint">
                            <a ng-click="toogleChart()">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                                <span>BURNT DOWN CHART</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <hr class="separator">	
                <nav id="menuDown" class="nav-main" role="navigation">
                    <ul class="nav nav-main">
                        <li class="navigationSprint">
                            <a ng-click="goOnScrumBoard()" href="#/scrumboardcolumn/{{sprints[0].projectId || projectId}}">
                                <i class="fa fa-trello"></i>
                                <span>SCRUM BOARD</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="nano-pane" style="opacity: 1; visibility: visible;">
                <div class="nano-slider" id="nano-slider" style=""></div></div></div>

    </aside>
    <!-- end: sidebar -->

    <section role="main" class="content-body">
        <!-- start: page -->
        <div class="row no-margin no-padding" id="contentAllSprintColumn">
            <div class="table no_panels_visible typesDemo" id="viewTable" ng-style="tableContentColumn">
                <!-- PRODUCT BACKLOG-->    
                <div class="sprintpanel c138 backlog_115 backlog current_backlog items_draggable visible" ng-style="SprintColumn" ng-hide="currentProductBacklog">
                    <div class="sprintcontainer dropable">   
                        <header class="panel_header panel_controls">
                            <div id='view_"{{sprint.projectId}}}"'>
                                <a class="sclose undraggable orrage" title="Close Panel" style="opacity: 1;" ng-click="toggleProductBacklog()">
                                    <i class="fa fa-times iconclose"></i>
                                </a>
                                <nav class="controls">
                                    <a class="mark_all_read undraggable" title="Mark All Notifications as Read" tabindex="-1" >Mark</a>
                                    <a class="add_story bright_icons undraggable" title="Add Story" tabindex="-1" style="opacity: 1;" ng-click="goonProductBacklog()">
                                        <i class="fa fa-plus orrage iconadd"></i>
                                    </a>
                                    <a class="refresh bright_icons undraggable" title="Refresh" tabindex="-1" style="opacity: 0.4;"></a>
                                </nav>
                                <h3 title="current/backlog">
                                    <span class="tracker_markup">
                                        PRODUCT BACKLOG
                                    </span>
                                </h3>
                            </div>
                        </header>
                        <section class="items_container">
                            <!-- CONTENT ALL ITEMS -->
                            <div class="items" id="contentAllUserstories">
                                <!-- HEADERS --> 
                                <ul dnd-list="userstoriesInCurrentBacklog" 
                                    dnd-allowed-types="userstoryType"
                                    class="story">
                                    <li ng-repeat="userstory in userstoriesInCurrentBacklog track by $index"
                                        dnd-draggable="userstory"
                                        dnd-type="userstory.dataType"
                                        dnd-moved="userstoriesInCurrentBacklog.splice($index, 1)"
                                        dnd-effect-allowed="move"
                                        class="background-{{userstory.dataType}}"
                                        ng-include="'userstory.html'"
                                        >      
                                    </li>
                                </ul>       
                            </div>
                        </section>
                        <footer class="panel_footer panel_controls no-padding">
                            <nav>
                                <a class="unsplit bright_icons undraggable" title="Combine Current and Backlog" style="opacity: 0.4;"></a>
                                <a class="panel_settings bright_icons undraggable" title="Panel settings" style="opacity: 0.4;"></a>
                                <a class="save_search bright_icons undraggable" title="Save Search" style="opacity: 0.4;"></a>
                                <a class="pin_search bright_icons undraggable" title="Pin Search" style="opacity: 0.4;"></a>

                            </nav>
                        </footer>
                    </div>
                </div>  

                <!-- SPRINT BACKLOG -->
                <div class="sprintpanel c138 backlog_115 backlog current_backlog items_draggable visible" ng-style="SprintColumn" ng-hide="currentSprintBacklog">
                    <div class="sprintcontainer dropable">
                        <header class="panel_header panel_controls">
                            <div id='view_"{{sprint.projectId}}}"'>
                                <a class="sclose undraggable orrage" title="Close Panel" style="opacity: 0.4;" ng-click="toggleBackLog()">
                                    <i class="fa fa-times iconclose"></i>
                                </a>
                                <nav class="controls">
                                    <a class="mark_all_read undraggable" title="Mark All Notifications as Read" tabindex="-1" >Mark</a>
                                    <a class="add_story bright_icons undraggable" title="Add Story" tabindex="-1" style="opacity: 1;" ng-click="open(sprint)">
                                        <i class="fa fa-plus orrage iconadd"></i>
                                    </a>
                                    <a class="refresh bright_icons undraggable" title="Refresh" tabindex="-1" style="opacity: 0.4;"></a>
                                </nav>
                                <h3 title="current/backlog">
                                    <span class="tracker_markup">
                                        SPRINT BACKLOG
                                    </span>
                                </h3>
                            </div>
                        </header>
                        <div ng-show="BackLogloading" class="orrage">
                            <i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading
                        </div>
                        <section class="items_container" ng-hide="BackLogloading">
                            <!-- CONTENT ALL ITEMS -->
                            <div class="items" id="container_sprint">
                                <!-- HEADERS -->                                     
                                <ul dnd-list="sprintBackLog" 
                                    dnd-allowed-types="sprints.dataType"
                                    class="listSprintInBacklog">
                                    <li ng-repeat="sprintobject in sprintBackLog track by $index"
                                        dnd-draggable="sprintobject"
                                        dnd-type="sprintobject.dataType"
                                        dnd-moved="sprintBackLog.splice($index, 1)"
                                        dnd-effect-allowed="move"
                                        class="background-sprint"
                                        ng-if='!sprintobject.isArchieve'                                       
                                        ng-include="'sprint.html'"
                                        >      
                                    </li>
                                </ul>
                                <div class="end_of_list item">

                                </div>
                            </div>
                        </section>
                        <footer class="panel_footer panel_controls no-padding">
                            <nav>
                                <a class="unsplit bright_icons undraggable" title="Combine Current and Backlog" style="opacity: 0.4;"></a>
                                <a class="panel_settings bright_icons undraggable" title="Panel settings" style="opacity: 0.4;"></a>
                                <a class="save_search bright_icons undraggable" title="Save Search" style="opacity: 0.4;"></a>
                                <a class="pin_search bright_icons undraggable" title="Pin Search" style="opacity: 0.4;"></a>

                            </nav>
                        </footer>
                    </div>
                </div>
                
                <!-- IN PROGRESSING -->
                <div class="sprintpanel c138 backlog_115 backlog current_backlog items_draggable visible" ng-style="SprintColumn" ng-hide="inprogressSprint">
                    <div class="sprintcontainer dropable">
                        <header class="panel_header panel_controls">
                            <div id='view_"{{sprint.projectId}}}"'>
                                <a class="sclose undraggable orrage" title="Close Panel" style="opacity: 0.4;" ng-click="toggleInProgress()">
                                    <i class="fa fa-times iconclose"></i>
                                </a>
                                <nav class="controls">
                                    <a class="mark_all_read undraggable" title="Mark All Notifications as Read" tabindex="-1" >Mark</a>
                                    <a class="add_story bright_icons undraggable" title="Add Story" tabindex="-1" style="opacity: 1;" ng-click="open(sprint)">
                                        <i class="fa fa-plus orrage iconadd"></i>
                                    </a>
                                    <a class="refresh bright_icons undraggable" title="Refresh" tabindex="-1" style="opacity: 0.4;"></a>
                                </nav>
                                <h3 title="current/backlog">
                                    <span class="tracker_markup">
                                        IN PROGRESSING
                                    </span>
                                </h3>
                            </div>
                        </header>
                        <div ng-show="InProgressingloading" class="orrage">
                            <i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading
                        </div>
                        <section class="items_container" ng-hide="InProgressingloading">
                            <!-- CONTENT ALL ITEMS -->
                                    <ul dnd-list="sprintInProgress" 
                                    dnd-allowed-types="sprints.dataType"
                                    dnd-disable-if="sprintInProgress.length >= 1"
                                    class="containerSprintInprogress">
                                        <li ng-repeat="sprintobject in sprintInProgress track by $index"
                                        dnd-draggable="sprintobject"
                                        dnd-type="sprintobject.dataType"
                                        dnd-disable-if="sprintobject.isLock"
                                        dnd-moved="sprintInProgress.splice($index, 1)"                                        
                                        dnd-effect-allowed="move"
                                        class="background-sprint"
                                        ng-include="'sprint.html'">
                                            <p ng-if="sprintobject.isLock" style="color:red">
                                                This sprint is Blocked, you need to unlock it for update!
                                            </p>
                                    </li>
                                    </ul>                            
                        </section>
                        <footer class="panel_footer panel_controls no-padding">
                            <nav>
                                <a class="unsplit bright_icons undraggable" title="Combine Current and Backlog" style="opacity: 0.4;"></a>
                                <a class="panel_settings bright_icons undraggable" title="Panel settings" style="opacity: 0.4;"></a>
                                <a class="save_search bright_icons undraggable" title="Save Search" style="opacity: 0.4;"></a>
                                <a class="pin_search bright_icons undraggable" title="Pin Search" style="opacity: 0.4;"></a>

                            </nav>
                        </footer>
                    </div>
                </div>                
                
                <!-- DONE  -->
                <div class="sprintpanel c138 backlog_115 backlog current_backlog items_draggable visible" ng-style="SprintColumn" ng-hide="IsDone">
                    <div class="sprintcontainer dropable">
                        <header class="panel_header panel_controls">
                            <div id='view_"{{sprint.projectId}}}"'>
                                <a class="sclose undraggable orrage" title="Close Panel" style="opacity: 0.4;" ng-click="toggleDone()">
                                    <i class="fa fa-times iconclose"></i>
                                </a>
                                <nav class="controls">
                                    <a class="mark_all_read undraggable" title="Mark All Notifications as Read" tabindex="-1" >Mark</a>
                                    <a class="add_story bright_icons undraggable" title="Add Story" tabindex="-1" style="opacity: 1;" ng-click="open(sprint)">
                                        <i class="fa fa-plus orrage iconadd"></i>
                                    </a>
                                    <a class="refresh bright_icons undraggable" title="Refresh" tabindex="-1" style="opacity: 0.4;"></a>
                                </nav>
                                <h3 title="current/backlog">
                                    <span class="tracker_markup">
                                        DONE
                                    </span>
                                </h3>
                            </div>
                        </header>                    
                        <div ng-show="Doneloading" class="orrage">
                            <i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading
                        </div>
                        <section class="items_container" ng-hide="Doneloading">
                            <!-- CONTENT ALL ITEMS -->
                            <ul dnd-list="sprintDone"
                                dnd-allowed-types="sprints.dataType"
                                class="containerSprintInprogress">                                
                                <li ng-repeat="sprintobject in sprintDone"
                                    dnd-draggable="sprintobject"
                                    dnd-type="sprintobject.dataType"              
                                    dnd-disable-if="!sprintobject.isMove"
                                    dnd-moved="sprintDone.splice($index, 1)"
                                    dnd-effect-allowed="move"
                                    class="background-sprint"
                                    ng-include="'sprint.html'">
                                </li>
                            </ul>
                        </section>
                        
                        <footer class="panel_footer panel_controls no-padding">
                            <nav>
                                <a class="unsplit bright_icons undraggable" title="Combine Current and Backlog" style="opacity: 0.4;"></a>
                                <a class="panel_settings bright_icons undraggable" title="Panel settings" style="opacity: 0.4;"></a>
                                <a class="save_search bright_icons undraggable" title="Save Search" style="opacity: 0.4;"></a>
                                <a class="pin_search bright_icons undraggable" title="Pin Search" style="opacity: 0.4;"></a>

                            </nav>
                        </footer>
                    </div>
                </div>
                                
                <!-- LINE CHART -->
                <div class="sprintpanel c138 backlog_115 backlog current_backlog items_draggable visible" ng-style="SprintColumn" ng-hide="isChart">
                    <div class="sprintcontainer dropable">
                        <header class="panel_header panel_controls">
                            <div id='view_"{{sprint.projectId}}}"'>
                                <a class="sclose undraggable orrage" title="Close Panel" style="opacity: 0.4;" ng-click="toogleChart()">
                                    <i class="fa fa-times iconclose"></i>
                                </a>
                                <nav class="controls">
                                    <a class="mark_all_read undraggable" title="Mark All Notifications as Read" tabindex="-1" >Mark</a>
                                    <a class="add_story bright_icons undraggable" title="Add Story" tabindex="-1" style="opacity: 1;" ng-click="open(sprint)">
                                        <i class="fa fa-plus orrage iconadd"></i>
                                    </a>
                                    <a class="refresh bright_icons undraggable" title="Refresh" tabindex="-1" style="opacity: 0.4;"></a>
                                </nav>
                                <h3 title="current/backlog">
                                    <span class="tracker_markup">
                                        BURNT DOWN CHART
                                    </span>
                                </h3>
                            </div>
                        </header>
                        <section class="items_container">
                            <div class="items panel_content">
                                <section class="row no-margin no-padding">
                                    <div class="col-sm-5"><label for="charts_filter">chart type:</label></div>
                                    <div class="col-sm-7">
                                        <a href="" class="dropdown-toggle orrage" data-toggle="dropdown">Velocity<strong class="caret"></strong></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a ng-click="CurrentSprintBurnDown()">Current Sprint Burn Down</a>
                                            </li>

                                            <li>
                                                <a ng-click="ReleaseSprintBurnDown()">Release Sprint Burn Down</a>
                                            </li>
                                        </ul> 
                                    </div>
                                </section>
                                
                                <div class="chart row no-margin no-padding" id="chart">
                                    <highchart id="chart1" config="chartConfig" class="span9" ></highchart>
                                </div>
                            </div>
                        </section>                        
                        <footer class="panel_footer panel_controls no-padding">
                            <nav>
                                <a class="unsplit bright_icons undraggable" title="Combine Current and Backlog" style="opacity: 0.4;"></a>
                                <a class="panel_settings bright_icons undraggable" title="Panel settings" style="opacity: 0.4;"></a>
                                <a class="save_search bright_icons undraggable" title="Save Search" style="opacity: 0.4;"></a>
                                <a class="pin_search bright_icons undraggable" title="Pin Search" style="opacity: 0.4;"></a>

                            </nav>
                        </footer>
                    </div>
                </div>
            </div>					
            <!-- end: page -->
    </section>
</div>