<div class="modal-header">
    <h4>Sprint Detail</h4>    
</div>
<div class="modal-body">
    <div class="row">
        
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
    <button ng-click="updateSprint(sprint);"
            class="btn btn-sm btn-primary"
            type="submit">
        <i class="ace-icon fa fa-check"></i>Update.
    </button>
</div>