<div class="modal-header">
    <h4>Delete Userstory</h4>    
</div>
<div class="modal-body">
    Do you really want to delete this userstory? with ID {{userstory.userId}}
</div>
<div class="modal-footer">
    <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
    <button ng-click="deleteUserstory(userstory);"
            class="btn btn-sm btn-primary"
            type="submit">
        <i class="ace-icon fa fa-check"></i>Yes, I do.
    </button>
</div>