<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h3 class="modal-title text-center">{{title}}</h3>

</div>
<div class="modal-body">
    <form name="userstory_form" class="form-horizontal" role="form" novalidate>


        <div class="form-group">
            <label class="col-sm-1 control-label no-padding-right ng-binding">  NAME</label>
            <div class="col-sm-11">
                <span class="block input-icon input-icon-right">
                    <input ng-disabled="true" type="text" class="form-control " name="name" ng-model="userstory.name" required="" placeholder="Userstory Name" ng-minlength="1" ng-maxlength="255" blacklist="{{userstory.projectId}}">

                    <div class="error ng-scope ng-hide" ng-show="userstory_form.name.$invalid && userstory_form.name.$dirty">
                        <span ng-show="userstory_form.name.$error.required" class="">
                            Please enter a value (Userstory Name)
                        </span>
                        <span ng-show="userstory_form.name.$error.minlength" class="ng-hide">
                            Please enter at least 1 characters
                        </span>
                        <span ng-show="userstory_form.name.$error.maxlength" class="ng-hide">
                            Please enter no longer than 255 characters
                        </span>
                        <span ng-show="userstory_form.name.$error.blacklist">
                            the User story with this name ( {{userstory.name}} ) is already in the project
                        </span>
                    </div>
                </span></div></div>

        <div class="form-group">
            <!-- DESCRIPTION FORM -->
            <div class="col-sm-7">
                <label class="col-sd-12 control-label ng-binding">  DESCRIPTION</label>
                <div class="col-sd-12">
                    <span class="block input-icon input-icon-right">
                        <textarea ng-disabled="true" class="form-control" name="description" ng-model="userstory.description" placeholder="Description" ng-maxlength="500"></textarea>
                        <div class="error ng-scope ng-hide" ng-show="userstory_form.description.$invalid && userstory_form.description.$dirty">
                            <span ng-show="userstory_form.description.$error.maxlength" class="errorMessage ng-hide">
                                Description length less than 500 characters
                            </span>
                        </div>

                    </span></div>

                <label class="col-sd-12 control-label ng-binding">TASKS (0)</label>
                <div class="col-sd-12 row">
                    <div class="col-sm-10"><input  type="text"
                                                   class="form-control no-padding"
                                                   name=""></div>                    
                    <button ng-click="addTask(task);"
                            class="btn btn-sm btn-primary"
                            type="submit">
                        <i class="ace-icon fa fa-check"></i>Add
                    </button>
                </div>
                <hr/>                
                <div class="col-sd-12 borderRadius holdingTask"></div>

            </div>
            <div class="col-sm-5 borderRadius">
                <!-- ESTIMATE -->
                <div class="form-group pointform border_bottom">
                    <label class="col-sm-6 control-label">
                        POINT
                    </label>
                    <div class="col-sm-6">
                        <input ng-disabled="true" class="form-control" name="point" ng-model="userstory.point" placeholder="Type a number" popover="Only interger..!" only-numbers require=""/>
                        <div class="error ng-scope ng-hide" ng-show="userstory_form.point.$invalid && userstory_form.point.$dirty">
                        </div>
                    </div>

                </div>
                <!-- STORY TYPE -->
                <div class="form-group border_bottom">
                    <label class="col-sm-6 control-label">
                        STORY TYPE
                    </label>
                    <div class="col-sm-6">
                        <section id="simpleFeature">
                            <select selectpicker="" toggle-dropdown ng-model="userstory.type" ng-disabled="true">
                                <option>Feature</option>
                                <option>Bug</option>
                                <option>Chore</option>
                            </select>
                        </section>
                    </div>
                </div>
                <!-- SPRINT NAME -->
                <div class="form-group border_bottom">
                    <label class="col-sm-6 control-label">
                        SPRINT NAME
                    </label>
                    <div class="col-sm-6">
                        <section id="simpleSprint">
                            
                            <input ng-disabled="true" type="text" class="form-control " name="name" ng-model="userstory.sprintId" required="">     
                        </section>
                    </div>
                </div>
                <!-- PRIORITY -->
                <div class="form-group">
                    <label class="col-sm-6 control-label">
                        PRIORITY
                    </label>
                    <div class="col-sm-6">
                        <section id="simplePriority">
                            <select selectpicker="" toggle-dropdown ng-model="userstory.priority" ng-disabled="true">
                                <option>1-Highest</option>
                                <option>2-High</option>
                                <option>3-Medium</option>  
                                <option>4-Low</option> 
                                <option>5-Lowest</option> 
                            </select>
                        </section>
                    </div>
                </div>
                <!-- STATUS -->
                <div class="form-group" style="display: {{displayStatus}}">
                    <label class="col-sm-6 control-label">
                        STATUS
                    </label>
                    <div class="col-sm-6" disable>
                        <section id="simpleStatus" ng-disabled="true">
                            <select selectpicker="" toggle-dropdown ng-model="userstory.status" ng-disabled="true">
                                <option>TODO</option>
                                <option>IN PROGRESSING</option>
                                <option>TESTING</option>  
                                <option>REWORK</option> 
                                <option>DONE</option> 
                            </select>
                        </section>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="space"></div>
    </form>
</div>