<div class="container-fluid no-padding">
    <div class="row no-margin" style="padding-top: 30px;background-color: white;padding-bottom: 20px;padding-left: 80px;padding-right: 80px" id="headers_productBacklog">
        <div class="col-sm-4">
            <i class="fa fa-3x fa-book fa-fw"></i>
            <a id="projectInformation" href="#/detail/{{projectInformation.projectId}}/{{projectInformation.userId}}">{{projectInformation.name}}  &nbsp; </a>
                <a id="productBacklogLabel" >/ &nbsp; Product Backlog</a>
        </div>
        <div class="col-sm-2 desktop no-padding" id="donutPoint">
            <div></div>
        </div>
        <div class="col-sm-2 desktop no-padding"  id="inDev">
            <div ></div>
        </div>
        <div class="col-sm-2 desktop no-padding"  id="accepted">
            <div ></div>
        </div>

        <div class="col-sm-2 desktop">
            <a class="Usactive">User stories</a>
            <a class="Usnoactive" href="#/sprint/{{userstories[0].projectId|| projectId}}">                
                Sprints
            </a>
        </div>
    </div>

    <!-- NOTHING -->
    <div class="table-responsive ng-scope padding20">
        <div class="panel panel-default">
            <div class="panel-heading row no-margin" style="padding: 0!important">
                <div class="col-sm-10 p0">
                    <form class="navbar-form filterUsform" style="width: 100%">
                        <input placeholder="Filtering ..." class="form-control" ng-model="filterUserstories" ng-change="resetLimit();" style="width: 90%"  autocomplete="off" type="text" focus>
                        <a class="btn button" id="searchingUS">Filtering</a>
                    </form>
                </div>
                <div class="col-sm-2" style="padding: 15px 0 0 0">
                    <a class="btn" id="addUS" ng-click="open(userstory);">
                        New Usersory
                    </a>
                </div>               
            </div>
            <div class="panel-body" id="bodyUS">
                <div class="row no-padding no-margin">
                    <table class="table table-responsive table-striped">
                        <tr ng-show="userstories.length == 0"><td style="min-width: 100% !important;vertical-align:middle;">
                                <i class="fa fa-ban fa-3x"></i>&nbsp; 
                                <code> No data found, click
                                    <a style="color:#3071a9" ng-click="open(userstory);">here</a> to add new user story</code>
                            </td></tr>
                        <tr ng-hide="userstories.length > -1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
                    </table>
                </div>
                <div class="widget" id="USwidget">
                    <div class="widget-body innerAll ">
                        <!-- Table -->
                        <table class="table table-striped table-responsive swipe-horizontal">

                            <!-- Table heading -->
                            <thead>
                                <tr>
                                    <th>
                                        <a ng-click="orderByField = 'priority';
                                            reverseSort = !reverseSort">
                                            Priority
                                            <span ng-show="orderByField == 'priority'">
                                                <span ng-show="!reverseSort"><i class="fa fa-arrow-circle-o-up"></i></span>
                                                <span ng-show="reverseSort"><i class="fa fa-arrow-circle-o-down"></i></span>
                                            </span>
                                        </a>
                                    </th>
                                    <th>
                                        Id
                                    </th>
                                    <th>US-Name</th>
                                    <th>Type</th>
                                    <th class="orrage">
                                        <a ng-click="orderByField = 'status';
                                            reverseSort = !reverseSort">
                                            Status
                                            <span ng-show="orderByField == 'status'">
                                                <span ng-show="!reverseSort"><i class="fa fa-arrow-circle-o-up"></i></span>
                                                <span ng-show="reverseSort"><i class="fa fa-arrow-circle-o-down"></i></span>
                                            </span>
                                        </a>

                                    </th>
                                    <th class="orrage">
                                        <a ng-click="orderByField = 'sprint';
                                            reverseSort = !reverseSort">
                                            Sprint
                                            <span ng-show="orderByField == 'sprint'">
                                                <span ng-show="!reverseSort"><i class="fa fa-arrow-circle-o-up"></i></span>
                                                <span ng-show="reverseSort"><i class="fa fa-arrow-circle-o-down"></i></span>
                                            </span>
                                        </a>

                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <!-- // Table heading END -->

                            <!-- Table body -->
                            <tbody>

                                <!-- Table row -->
                                <tr ng-repeat="c in userstories| filter:filterUserstories | orderBy:orderByField:reverseSort" class="userstory_{{c.status}} gradeA" animate-on-change='c.name + c.priority + c.sprint + c.status' ng-animate=" 'animate'" ng-if="c.isArchieve !== '1'">
                                    <td><code>{{c.priority}}</code></td>
                                    <td class="UsID" style="color: rgb(179, 179, 179);">#{{c.userStoryId}}</td>
                                    <td class="Usname"><a ng-click="open(c);">{{c.name}}</a></td>
                                    <td style="color: rgb(179, 179, 179);">{{c.type}}</td>
                                    <td style="color: rgb(179, 179, 179);">{{c.status}}</td>
                                    <td style="color: rgb(179, 179, 179);">{{c.sprintName}}</td>
                                    <td style="width:100px">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
                                            <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="openDelete(c);"></button>
                                        </div>
                                    </td>
                                </tr>
                                <!-- // Table row END -->

                            </tbody>
                            <!-- // Table body END -->

                        </table>
                        <!-- // Table END -->

                    </div>
                </div>   
            </div>
        </div>
    </div>
    <!--
    <ul class="pagination pagination-centered margin-none">
        <li class="disabled"><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">»</a></li>
    </ul>
    -->
</div>






