<div id="menu" class="hidden-print hidden-xs">

    <div id="sidebar-fusion-wrapper" class="hasNiceScroll" tabindex="5000" style="overflow-y: hidden; outline: none;">
        <div class="search-wrapper">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="filterProjects" ng-change="resetLimit();">
                <span class="input-group-btn">
                    <button class="btn btn-inverse" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div><!-- /input-group -->
        </div>

        <div id="logoWrapper">
            <div class="media">
                <a href="" class="pull-left"><img src="{{user[3]}}" alt="" class="avatar"></a>
                <div class="media-body">
                    <a href="" class="name">{{userName}}</a>
                    <p><i class="fa fa-fw fa-circle-o text-success"></i> Online</p>
                </div>
                <div class="clearfix"></div>
                <a href="" class="btn btn-xs btn-inverse "><i class="fa fa-user"></i></a>
                <a href="" class="btn btn-xs btn-inverse "><i class="fa fa-clock-o"></i></a>
                <a href="" class="btn btn-xs btn-inverse "><i class="fa fa-envelope"></i></a>

            </div>
            <div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle selectpicker btn-inverse" data-toggle="dropdown" data-id="select_project" title="Select Project">
                    <span class="filter-option pull-left">Select Project</span>&nbsp;<span class="caret"></span></button>
                <div class="dropdown-menu open">
                    <ul class="dropdown-menu inner" role="menu">
                        <li rel="0" class="selected">
                            <a tabindex="0" class="" style="">
                                <span class="text">Select Project</span>
                                <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                            </a>
                        </li>
                        <li rel="1" ng-repeat="project in filteredProjects track by $index">
                            <a tabindex="0" class="" style="" href="#/detail/{{project.projectId}}/{{project.userId}}">
                                <span class="text">
                                    {{project.name}}
                                </span>
                                <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="menu list-unstyled">
            <li class="">
                <a href="" class="index">
                    <i class="fa fa-home"></i>
                    <span>Overview</span>
                </a>
            </li>
            <li class="active">
                <a href="">
                    <i class="fa fa-list"></i>
                    <span>Projects List</span>
                </a>
            </li>                    
            <li class="">
                <a href="">
                    <i class="fa fa-clock-o"></i>
                    <span>Project Overview</span>
                </a>
            </li>
            <li class="">
                <a href="">
                    <i class="fa fa-th-large"></i>
                    <span>Sprints</span>
                </a>   
                <ul class="collapse" id="menu-c912426ca889d7127922e7b71b1f426c">
                    <li class="">
                        <a href="" class="no-ajaxify">
                            <i class="fa fa-lock"></i>
                            <span>Login</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="" class="no-ajaxify">
                            <i class="fa fa-pencil"></i>
                            <span>Sign up</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="">
                    <i class="fa fa-ticket"></i>
                    <span>User stories</span>
                </a>
            </li>
            <li class="">
                <a href="">
                    <i class="fa fa-user"></i>
                    <span>User Account</span>
                </a>
            </li>
            <li class="">

                <a href="" class="calendar">
                    <i class="fa fa-calendar"></i>
                    <span>Calendar</span>
                </a>
            </li>                       
        </ul>
    </div>

    <div id="ascrail2000" class="nicescroll-rails" style="width: 5px; z-index: 2; cursor: default; position: absolute; top: 0px; left: 175px; height: 322px; display: block; opacity: 0;">
        <div style="position: relative; top: 0px; float: right; width: 5px; height: 460px; border: none; border-radius: 0px; background-color: rgb(199, 42, 37); background-clip: padding-box;"></div>
    </div>                        
</div>
<div class="innerLR" style="padding-left: 200px;">
    <h1 class="pull-left">Projects &nbsp; <a ng-click="open(project);" class="btn btn-success">Add Project <i class="icon-add-symbol"></i> </a> </h1>
    <div class="pull-right innerT">
        <div class="btn-group">
            <a ng-click="showArchive = false" class="btn btn-default filled" title="In Progress Projects"><i class="fa fa-list"></i></a>
            <a ng-click="showArchive = true" class="btn  btn-inverse" title="Archived Project lists"><i class="fa fa-th"></i></a>
        </div>
    </div>
    <div class="clearfix"></div>	
    <div class="innerTB">
        <div ng-hide="showArchive" class="row p0 m0">
            <div class="widget widget-inverse widget-small" ng-repeat="project in filteredProjects track by $index | filter:filterProjects" ng-animate=" 'animate'" animate-on-change='project.name'>
                <div class="widget-body padding-none">
                    <div class=" media innerAll overflow-visible margin-none">
                        <div class="pull-left innerR half hidden-xs">
                            <i class="icon-tv-play fa-4x icon-faded"></i>
                        </div>
                        <div class="pull-right hidden-xs">
                            <div class="strong text-muted-dark innerB half">Assigned to:</div>
                            <img ng-repeat="member in project.usermembers track by $index" src="{{member.avatarURL}}" alt="photo" class="img-circle" style="width:40px;" data-toggle="tooltip" data-placement="top" title="{{member.Fullname}}">     
                        </div>
                        <div class="media-body">
                            <h4><a href="#/detail/{{project.projectId}}/{{project.userId}}" class="media-heading">{{project.name}}</a></h4>
                            <p class="text-muted">{{project.Description}}</p>
                            <div class="clearfix"></div>
                            <div class="widget widget-none innerR innerB half margin-slim pull-left">
                                <span class="strong"> Due:</span>
                                <span> <i class="fa fa-clock-o text-muted"></i> {{project.EndDate}}</span>
                            </div>
                            <div class="widget widget-none innerR innerB half margin-slim pull-left">
                                <span class="pull-left strong">Progress:</span>
                                <div class="progress progress-mini set-width">
                                    <div class="progress-bar progress-bar-primary" style="width: 0%;"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="widget widget-none innerR innerB half margin-slim pull-left">
                                <span class="pull-left" style="padding-right: 10px">  <i class="fa fa-columns"></i></span>
                                <span class="strong"> <a href="#/scrumboardcolumn/{{project.projectId}}">Scrum Column </a></span>                                
                            </div>
                            <div class="clearfix"></div>
                            <div class="widget widget-none innerR innerB half margin-slim pull-left">
                                <span class="pull-left" style="padding-right: 10px">  <i class="fa fa-refresh"></i></span>
                                <span class="strong"> <a href="#/sprint/{{project.projectId}}"> Sprint Page</a></span>                                
                            </div>
                            <div class="clearfix"></div>
                            <div class="widget widget-none innerR innerB half margin-slim pull-left">
                                <span class="pull-left" style="padding-right: 10px"><i class="fa fa-sitemap"></i></span>
                                <span class="strong"> <a href="#/backlog/{{project.projectId}}">Product Backlog Page</a></span>                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <pagination total-items="totalProjectsInProgress" items-per-page="projectsInprogressPerPage" ng-model="currentPage" ng-change="pageChanged()" style="float:right"></pagination>
        </div>
        <div ng-show="showArchive">
            <div  class="row p0 m0">
                <div class="col-sm-6" ng-repeat="projectArchive in filteredProjectsArchive track by $index">
                    <div class="widget widget-primary widget-small">
                        <div class="innerAll">
                            <div class="media">
                                <div class="pull-left half">
                                    <i class="icon-tv fa-4x icon-faded"></i>
                                </div>
                                <div class="media-body ">
                                    <h4><a href="#/detail/{{projectArchive.projectId}}/{{projectArchive.userId}}" class="media-heading">{{projectArchive.name}}</a></h4>
                                    <p class="margin-none text-muted">{{projectArchive.Description}}</p>
                                </div>
                            </div>
                            <form class="form-horizontal" role="form">
                                <div class="widget widget-none bg-gray innerAll half margin-slim">
                                    <div class="row">
                                        <label class="col-sm-2 control-label text-left">Progress:</label>
                                        <div class="col-md-4 col-sm-6 col-xs-10 innerT half">
                                            <div class="progress progress-mini">
                                                <div class="progress-bar progress-bar-primary" style="width: 20%;"></div>
                                            </div>
                                        </div>
                                        <label class="control-label text-left strong text-muted-dark">20 %</label>
                                    </div>
                                </div>

                                <div class="widget widget-none bg-gray innerAll half margin-slim">
                                    <div class="row">
                                        <label class="col-sm-2 control-label text-left padding-top-none">Start Date</label>
                                        <div class="col-md-4 col-sm-6 col-xs-10 strong">
                                            <span>{{projectArchive.StartDate}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget widget-none bg-gray innerAll half margin-slim">
                                    <div class="row">
                                        <label class="col-sm-2 control-label text-left">End Date</label>
                                        <div class="col-md-4 col-sm-6 col-xs-10 strong">
                                             <span>{{projectArchive.EndDate}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget widget-none bg-gray innerAll half margin-slim">
                                    <div class="row">
                                        <label class="col-sm-2 control-label text-left innerT">Assigned:</label>
                                        <div class="col-md-4 col-sm-6 col-xs-10">
                                            <img ng-repeat="member in projectArchive.usermembers track by $index" src="{{member.avatarURL}}" alt="photo" class="img-circle" style="width:40px;" data-toggle="tooltip" data-placement="top" title="{{member.Fullname}}">     
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <pagination total-items="totalProjectsArchive" items-per-page="projectsArchivePerPage" ng-model="currentArchiveProjectPage" ng-change="pageArchiveChanged()" style="float:left"></pagination>
        </div>

    </div>



</div>