<link rel="stylesheet" href="../../css/customcss/angucomplete-alt.css"/>
<div class="innerLR">	
    <h1 class="pull-left">Project ::<a ng-click="gotoProductBacklog(project.projectId)">{{project.name}}</a></h1>
    <div class="innerT  pull-right">
        <a href="/partials/dashboard.html" class="btn">Back to projects</a>
    </div>
    <div class="clearfix"></div>
    <div class="separator"></div>
    <div class="row p0 m0">       
        <tabset justified="true">
            <tab heading="OVERVIEW">
                <div class="widget widget-tabs-content widget-tabs-responsive widget-none">
                    <!-- // Tabs Heading END -->

                    <div class="widget-body">
                        <div class="innerTB">
                            <div class="row">
                                <!-- over view -->
                                <div class="col-md-6">
                                    <div class="widget widget-primary widget-small">
                                        <div class="innerAll">
                                            <div class="media">
                                                <div class="pull-left innerR half">
                                                    <i class="icon-tv fa-4x icon-faded"></i>
                                                </div>
                                                <div class="media-body ">
                                                    <h4><a class="media-heading">Project Profile</a></h4>
                                                    <p class="margin-none text-muted"></p>
                                                </div>
                                            </div>
                                            <form class="form-horizontal" role="form">
                                                <div class="widget widget-none bg-gray innerAll half margin-slim">
                                                    <div class="row">
                                                        <label class="col-sm-4 control-label text-left  padding-top-none">Start Date</label>
                                                        <div class="col-md-4 col-sm-6 col-xs-8 strong">
                                                            <label >{{project.StartDate}}</label>     
                                                        </div>                                                
                                                    </div>
                                                </div>

                                                <div class="widget widget-none bg-gray innerAll half margin-slim">
                                                    <div class="row">
                                                        <label class="col-sm-4 control-label text-left padding-top-none">Finish Date</label>
                                                        <div class="col-md-4 col-sm-6 col-xs-8 strong">
                                                            <label>{{project.EndDate}}</label>    
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Complete -->
                                                <div class="widget widget-none bg-gray innerAll half margin-slim">
                                                    <div class="row">
                                                        <label class="col-sm-4 control-label text-left">Progress</label>
                                                        <div class="col-md-4 col-sm-6 col-xs-8">
                                                            <p class="lead margin-none">
                                                            <progressbar class="progress-striped" value="project.complete" type="warning">{{project.complete}}%</progressbar>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Goal -->
                                                <div class="form-group">
                                                    <label for="" class="col-sm-3 control-label">Goal</label>
                                                    <div class="col-sm-9">
                                                        <p class="input-group">
                                                            <label>{{project.Goal}}</label> 
                                                        </p>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="widget widget-info widget-small">				
                                        <h4><a class="media-heading">Assigned Team Members</a></h4>
                                        <div class="widget-body padding-none">
                                            <div class="media innerAll margin-none border-bottom" ng-repeat="member in userMembers track by $index">
                                                <div class="pull-left"><img src="{{member.avatarURL}}" width="40" alt="people" class="img-circle media-object"></div>
                                                <div class="media-body innerT half"><a href="#">{{member.Fullname}}</a></div>
                                            </div>                                    
                                        </div>
                                    </div>
                                </div>
                            </div>    
                            <div class="row">
                                <!-- over view -->
                                <div class="col-md-6">
                                    <div class="widget widget-primary widget-small">
                                        <div class="innerAll">
                                            <div class="media">
                                                <div class="pull-left innerR half">
                                                    <i class="icon-tv fa-4x icon-faded"></i>
                                                </div>
                                                <div class="media-body ">
                                                    <h4><a href="project_milestones.html?v=v1.0.0-rc1&amp;skin=style-default" class="media-heading">User Stories</a></h4>
                                                    <p class="margin-none text-muted">Short description of the project</p>
                                                </div>
                                            </div>
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" style="text-align: left">
                                                        <a>Late user stories</a>
                                                    </label>  
                                                </div>  
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" style="text-align: left">
                                                        <a>On time user stories</a>
                                                    </label>  
                                                </div> 
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" style="text-align: left">
                                                        <a>Early tasks</a>
                                                    </label>  
                                                </div> 
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="widget widget-primary widget-small">
                                        <div class="innerAll">
                                            <div class="media">
                                                <div class="pull-left innerR half">
                                                    <i class="icon-tv fa-4x icon-faded"></i>
                                                </div>
                                                <div class="media-body ">
                                                    <h4><a class="media-heading">Project Completed</a></h4>
                                                </div>
                                            </div>
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" style="text-align: center">Complete Form</label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label" style="text-align: left"><a>Late tasks in progress</a></label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label" style="text-align: left"><a>Not started</a></label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>

                </div>
            </tab>
            <tab heading="SETTING">
                <div class="widget widget-tabs-content widget-tabs-responsive widget-none">
                    <div class="container-fluid">
                        <div class="row rowProjectOverview">                          
                            <div class="col-md-6">
                                <div class="widget widget-primary widget-small">
                                    <div class="innerAll">
                                        <div class="media">
                                            <div class="pull-left innerR half">
                                                <i class="icon-tv fa-4x icon-faded"></i>
                                            </div>
                                            <div class="media-body ">
                                                <h4>General Information</h4>                                                
                                            </div>
                                        </div>
                                        <form class="form-horizontal" role="form" name="project_form">
                                            <form-element label="NAME" mod="project">
                                                <input type="text"
                                                       class="form-control"
                                                       name="name"
                                                       ng-model="project.name"
                                                       required
                                                       placeholder="Project Name"
                                                       ng-minlength="4" 
                                                       focus/>
                                                <span ng-show="project_form.name.$error.required" class="errorMessage">
                                                    This is a required field 
                                                </span>
                                                <span ng-show="project_form.name.$invalid" class="errorMessage">
                                                    And at least 4 characters
                                                </span>
                                            </form-element>
                                            <form-element label="DESCRIPTION" mod="project">
                                                <textarea
                                                    class="form-control"
                                                    name="description"
                                                    ng-model="project.Description"
                                                    placeholder="Description"
                                                    ng-maxlength="500"
                                                    ></textarea>
                                                <span ng-show="project_form.description.$invalid" class="errorMessage">
                                                    Description length less than 500 characters
                                                </span>
                                            </form-element>
                                            <form-element label="GOAL" mod="project">
                                                <textarea
                                                    class="form-control"
                                                    name="goal"
                                                    ng-model="project.Goal"
                                                    ng-maxlength="200">                                                    
                                                </textarea>
                                                <span ng-show="project_form.goal.$invalid" class="errorMessage">
                                                    Description length less than 200 characters
                                                </span>
                                            </form-element>
                                        </form>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="widget widget-primary widget-small">
                                    <div class="innerAll">
                                        <div class="media">
                                            <div class="pull-left innerR half">
                                                <i class="icon-tv fa-4x icon-faded"></i>
                                            </div>
                                            <div class="media-body ">
                                                <h4>Interactive And Velocity</h4>                                           
                                            </div>
                                        </div>                                      
                                        <form class="form-horizontal">
                                            <!--
                                            <div class="form-group">
                                                <lable class="col-sm-4 text-right control-label no-padding-right ng-binding">Start interactive on</lable>
                                                <div class="col-sm-7">
                                                    <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                                        <input class="span2" size="16" type="text" value="12-02-2012" readonly="" id="datedate"/>
                                                        <span class="add-on"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            -->
                                            <div class="form-group">
                                                <lable class="col-sm-4 text-right control-label no-padding-right strong">Project Start Date</lable>
                                                <div class="col-sm-7">
                                                    <p class="input-group">
                                                        <input type="date" class="form-control" 
                                                               datepicker-popup
                                                               ng-model="project.StartDate" 
                                                               is-open="openedProjectStart"  
                                                               datepicker-options="dateOptions" 
                                                               popover="Format(dd-Month-year)..!"  popover-trigger="focus"
                                                               close-text="Close" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="openProjectStart($event)">
                                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <lable class="col-sm-4 text-right control-label no-padding-right strong">End date</lable>
                                                <div class="col-sm-7">
                                                    <p class="input-group">
                                                        <input type="date" class="form-control" datepicker-popup  ng-model="project.EndDate" is-open="EndDateopened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <lable class="col-sm-4 text-right control-label no-padding-right strong">Project Time Zone</lable>
                                                <div class="col-sm-7">
                                                    <section class="col-sm-12 no-padding" style="max-width: 200px">
                                                        <select ng-model="project.projectTimeZone" style="max-width: 250px!important">
                                                            <option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">(GMT-12:00) International Date Line West</option>
                                                            <option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">(GMT-11:00) Midway Island, Samoa</option>
                                                            <option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">(GMT-10:00) Hawaii</option>
                                                            <option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">(GMT-09:00) Alaska</option>
                                                            <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Pacific Time (US & Canada)</option>
                                                            <option timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Tijuana, Baja California</option>
                                                            <option timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" value="-7">(GMT-07:00) Arizona</option>
                                                            <option timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                                                            <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Mountain Time (US & Canada)</option>
                                                            <option timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Central America</option>
                                                            <option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Central Time (US & Canada)</option>
                                                            <option timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                                                            <option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Saskatchewan</option>
                                                            <option timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                                                            <option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Eastern Time (US & Canada)</option>
                                                            <option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Indiana (East)</option>
                                                            <option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Atlantic Time (Canada)</option>
                                                            <option timeZoneId="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Caracas, La Paz</option>
                                                            <option timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Manaus</option>
                                                            <option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Santiago</option>
                                                            <option timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" value="-3.5">(GMT-03:30) Newfoundland</option>
                                                            <option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Brasilia</option>
                                                            <option timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" value="-3">(GMT-03:00) Buenos Aires, Georgetown</option>
                                                            <option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Greenland</option>
                                                            <option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Montevideo</option>
                                                            <option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">(GMT-02:00) Mid-Atlantic</option>
                                                            <option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1">(GMT-01:00) Cape Verde Is.</option>
                                                            <option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">(GMT-01:00) Azores</option>
                                                            <option timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" value="0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
                                                            <option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                                                            <option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                                                            <option timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                                                            <option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                                                            <option timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                                                            <option timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) West Central Africa</option>
                                                            <option timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Amman</option>
                                                            <option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Athens, Bucharest, Istanbul</option>
                                                            <option timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Beirut</option>
                                                            <option timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Cairo</option>
                                                            <option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">(GMT+02:00) Harare, Pretoria</option>
                                                            <option timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                                                            <option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Jerusalem</option>
                                                            <option timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Minsk</option>
                                                            <option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Windhoek</option>
                                                            <option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                                                            <option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                                                            <option timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Nairobi</option>
                                                            <option timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Tbilisi</option>
                                                            <option timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" value="3.5">(GMT+03:30) Tehran</option>
                                                            <option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">(GMT+04:00) Abu Dhabi, Muscat</option>
                                                            <option timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Baku</option>
                                                            <option timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Yerevan</option>
                                                            <option timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" value="4.5">(GMT+04:30) Kabul</option>
                                                            <option timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" value="5">(GMT+05:00) Yekaterinburg</option>
                                                            <option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                                                            <option timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Sri Jayawardenapura</option>
                                                            <option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                                                            <option timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" value="5.75">(GMT+05:45) Kathmandu</option>
                                                            <option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6">(GMT+06:00) Almaty, Novosibirsk</option>
                                                            <option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">(GMT+06:00) Astana, Dhaka</option>
                                                            <option timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" value="6.5">(GMT+06:30) Yangon (Rangoon)</option>
                                                            <option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                                                            <option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">(GMT+07:00) Krasnoyarsk</option>
                                                            <option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                                                            <option timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Kuala Lumpur, Singapore</option>
                                                            <option timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                                                            <option timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Perth</option>
                                                            <option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Taipei</option>
                                                            <option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                                                            <option timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Seoul</option>
                                                            <option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">(GMT+09:00) Yakutsk</option>
                                                            <option timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Adelaide</option>
                                                            <option timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Darwin</option>
                                                            <option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Brisbane</option>
                                                            <option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                                                            <option timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Hobart</option>
                                                            <option timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Guam, Port Moresby</option>
                                                            <option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Vladivostok</option>
                                                            <option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                                                            <option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">(GMT+12:00) Auckland, Wellington</option>
                                                            <option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                                                            <option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">(GMT+13:00) Nuku'alofa</option>
                                                        </select>
                                                    </section>                                               
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <lable class="col-sm-4 text-right control-label no-padding-right strong">Interaction Length</lable>
                                                <div class="col-sm-7">                                                
                                                    <select ng-model="project.IteractionLength"> 
                                                        <option>1 </option>
                                                        <option>2 </option>
                                                        <option>3 </option>
                                                        <option>4 </option>
                                                    </select>                     
                                                    <p class ="col-sm-6"><code>{{ project.IteractionLength}}</code> weeks</p>
                                                </div>
                                            </div>                                            
                                            <div class="form-group">
                                                <lable class="col-sm-4 text-right control-label no-padding-right strong">Setting Status</lable>
                                                <div class="col-sm-7">                                                
                                                    <section id="simpleStatus">
                                                        <select selectpicker="" toggle-dropdown ng-model="project.status">
                                                            <option>IN PROGRESSING</option>
                                                            <option>POST PONE</option>
                                                            <option>DONE</option>
                                                        </select>
                                                    </section>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 text-right control-label no-padding-right">Condition</label>
                                                <div class="col-sm-7">
                                                    <button class="btn" ng-class="{UnArchive:'btn - success', Archived:''}[projectCondition]" ng-click="changeProjectCondition(project);">{{projectCondition}}</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 20px; padding-top: 20px">
                            <div class="col-sm-6 col-md-6">
                                <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                                <button ng-click="saveProject(project);"
                                        ng-disabled="project_form.$invalid || enableUpdate"
                                        class="btn btn-sm btn-primary"
                                        type="submit">
                                    <i class="ace-icon fa fa-check"></i>Save
                                </button>
                            </div>
                        </div>
                    </div></div>              
            </tab>
            <tab heading="MEMBERS">
                <div class="widget widget-tabs-content widget-tabs-responsive widget-none">
                    <div class="container-fluid">
                        <div class="row" style="border: 1px solid rgb(113, 113, 113); border-radius: 10px; padding: 30px; margin: 30px">
                            <h5>Add a project Member</h5> 
                            <div class="col-sm-6">
                                <div class="padded-row">
                                    <div angucomplete-alt id="ex2" placeholder="Search people" pause="300" selected-object="selectedPerson" local-data="people" search-fields="Fullname,surname" title-field="Fullname,surname" description-field="email" image-field="avatarURL" minlength="1" input-class="form-control form-control-small" match-class="highlight" clear-selected="true">
                                    </div>
                                </div>
                                <div class="result">
                                    <div class="selectedPerson" ng-show="selectedPerson">
                                        You selected <span class="bold-span">{{selectedPerson.Fullname}} {{selectedPerson.surname}} </span>                                        
                                    </div>          
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <select selectpicker="" toggle-dropdown ng-model="selectedPerson.roleName">
                                    <option>PO</option>
                                    <option>SM</option>
                                    <option>DEV</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-sm btn-primary" ng-click="addMembertoProject(selectedPerson, mySelf);">Add new member</button>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <alert ng-show="alert.condition" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                        </div>
                        <div class="innerLR">

                            <!-- Widget -->
                            <!-- // Widget END -->	
                            <div class="widget">
                                <div class="widget-body innerAll inner-2x">

                                    <!-- Table -->
                                    <table class="table table-striped table-responsive swipe-horizontal">

                                        <!-- Table heading -->
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <!-- // Table heading END -->

                                        <!-- Table body -->
                                        <tbody>
                                            <tr ng-repeat="member in userMembers track by $index" ng-if="member.userId !== mySelf.userId"> 
                                                <td class="col-sm-3">
                                                    {{member.Fullname}}
                                                </td>
                                                <td class="col-sm-6">
                                                    {{member.email}}
                                                </td>
                                                <td class="col-sm-1">
                                                    <select class="dropup" ng-model="member.roleName" ng-change="EditRole(member, mySelf);" toggle-dropdown>
                                                        <option>PO</option>
                                                        <option>SM</option>
                                                        <option>DEV</option>
                                                    </select>
                                                </td>
                                                <td class="col-sm-2">
                                                    <span class="img-circle">
                                                        <i class="fa fa-times fa-2x" ng-click="RemoveMember(member, mySelf)"></i>
                                                    </span>
                                                </td>
                                            </tr>           
                                            <tr>
                                                <td class="col-sm-3">
                                                    {{mySelf.Fullname}}
                                                </td>
                                                <td class="col-sm-6">
                                                    {{mySelf.email}}
                                                </td>
                                                <td class="col-sm-1">
                                                    <select class="dropup" ng-model="mySelf.roleName" ng-change="UpdateMyRole(mySelf);" toggle-dropdown>                  
                                                        <option>PO</option>
                                                        <option>SM</option>
                                                        <option>DEV</option>
                                                    </select>
                                                </td>
                                                <td class="col-sm-2">
                                                    <span class="img-circle">
                                                        <a ng-click="stopFollow(mySelf);">Stop follow this project</a>
                                                    </span>
                                                </td>
                                            </tr>                                       
                                            <!-- // Table row END -->
                                        </tbody>
                                        <!-- // Table body END -->

                                    </table>
                                    <!-- // Table END -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="PROJECT PROFILE"></tab>
        </tabset>
    </div>
</div>