<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <form name="project_form" class="form-horizontal" role="form" novalidate>
        <form-element label="NAME" mod="project">
            <input type="text"
                   class="form-control"
                   name="name"
                   ng-model="project.name"
                   required
                   placeholder="Project Name"
                   ng-minlength="4" 
                   ng-maxlength="255"
                   focusing/>
           
            <div class="error"
                 ng-show="project_form.name.$invalid && project_form.name.$dirty">
                <span ng-show="project_form.name.$error.required">
                    Please enter a value (Project Name)
                </span>
                <span ng-show="project_form.name.$error.minlength">
                    Please enter at least 4 characters
                </span>
                <span ng-show="project_form.name.$error.maxlength">
                    PLease enter no longer than 255 characters
                </span>
            </div>
        </form-element>
        <form-element label="DESCRIPTION" mod="project">
            <textarea
                class="form-control"
                name="description"
                ng-model="project.description"
                placeholder="Description"
                ng-maxlength="500"
                ></textarea>
            <div class="error"  ng-show="project_form.description.$invalid && project_form.description.$dirty">
                <span ng-show="project_form.description.$error.maxlength" class="errorMessage">
                Description length less than 500 characters
            </span>
            </div>
            
        </form-element>
        <div class="space"></div>
        <div class="space-4"></div>
        <div class="modal-footer">
            <form-element label="">
                <div class="text-right">
                    <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                    <button ng-click="saveProject(project);"
                            ng-disabled="project_form.$invalid || enableUpdate"
                            class="btn btn-sm btn-primary"
                            type="submit">
                        <i class="ace-icon fa fa-check"></i>{{buttonText}}
                    </button>
                </div>
            </form-element>
        </div>
    </form>
</div>